<div class="privacy__container">
    <div class="privacy">
        <h1>Informativa legale</h1>
        <p><strong>Pubblicato da Authentic Student</strong></p>
        <p>Email: authenticstudent.it@gmail.com</p>
        <p>Via Montecorona 40, TN, Italia</p>
        <p>+39 3333854818</p>
        <p><strong>Diritto di accesso e modifica</strong></p>
        <p>Il servizio linguistico di Authentic Student dispone di risorse informatiche volte a facilitare la gestione dei soggiorni. I dati registrati sono esclusivamente riservati all'uso del personale interessato e non possono essere divulgati se non
            a tale scopo. In conformità alle disposizioni della legge n. 78-17 del 6 gennaio 1978, modificata nel 2004, relativa all'informatica, ai file e alle libertà, ogni persona ha il diritto di accedere, rettificare o cancellare le informazioni
            che la riguardano, rivolgendosi al responsabile del servizio via elettronica.</p>

        <p><strong>Proprietà intellettuale</strong></p>
        <p>L'intero sito di Authentic Student è protetto dalle leggi italiane sulla proprietà intellettuale. Tutti i diritti di riproduzione sono riservati, compresi quelli dei documenti scaricabili. I testi, i grafici, le icone, le fotografie, i piani,
            i loghi, i video, i suoni, i marchi e tutti gli altri elementi costitutivi del sito Authentic Student non possono, in conformità all'articolo L122-4 del Codice della Proprietà Intellettuale, essere oggetto di rappresentazione o riproduzione,
            totale o parziale, su qualsiasi supporto, senza l'autorizzazione preventiva ed espressa di Authentic Student. La mancata osservanza di questa proibizione costituisce un atto di contraffazione suscettibile di implicare la responsabilità civile
            e/o penale del suo autore. Authentic Student si riserva il diritto di intraprendere azioni legali contro chiunque violi questa proibizione. Allo stesso modo, è strettamente vietato utilizzare o riprodurre il nome Authentic Student e/o il suo
            logo, da soli o in associazione, per qualsiasi scopo e su qualsiasi supporto senza il consenso preventivo e scritto di Authentic Student.</p>

        <p><strong>Responsabilità</strong></p>
        <p>Le informazioni presentate sul sito di Authentic Student sono fornite a scopo puramente indicativo e non sono contrattuali. Di conseguenza, Authentic Student non può essere ritenuta responsabile del loro utilizzo. Le informazioni possono essere
            modificate o aggiornate senza preavviso, e Authentic Student si riserva il diritto di apportare miglioramenti e/o modifiche al sito in qualsiasi momento e senza preavviso. La responsabilità di Authentic Student non può essere impegnata per
            danni diretti o indiretti, come la perdita di attività, la perdita finanziaria o commerciale, la perdita di programmi e/o dati, derivanti dall'uso del sito o dall'accesso a siti di terze parti tramite il sito. Inoltre, Authentic Student non
            può essere ritenuta responsabile di omissioni o errori che potrebbero essere presenti sul sito.</p>

        <p><strong>Utenti</strong></p>
        <p>L'utente del sito attuale è responsabile di qualsiasi danno, materiale o immateriale, diretto o indiretto, inflitto a terzi, compreso Authentic Student, a seguito di un uso o di un'operazione illecita del sito Authentic Student e/o di uno dei
            suoi elementi, indipendentemente dalla causa o dal luogo in cui si verifica il danno. Inoltre, l'utente garantisce Authentic Student contro le conseguenze di eventuali reclami o azioni da parte di terzi a tal riguardo e rinuncia a perseguire
            Authentic Student nel caso di azioni legali promosse da terzi contro di lui derivanti dall'uso e/o dall'operazione illecita del sito Authentic Student.</p>
        <p><strong>Utilizzo dei cookie</strong></p>

        <p>Durante la tua visita al nostro sito Internet, è possibile che uno o più cookie vengano installati sull'hard disk del tuo computer. Questi file di testo consentono il corretto funzionamento delle catene di navigazione e personalizzano il tuo accesso
            al nostro sito. Se lo desideri, puoi eliminare questi cookie utilizzando la barra degli strumenti del tuo browser una volta terminata la navigazione. Tuttavia, nota che l'eliminazione dei cookie potrebbe disturbare o impedire l'utilizzo del
            nostro sito e dei suoi servizi.</p>
    </div>
</div>