<div class="privacy__container">
    <div class="privacy">
        <h1>Termini e condizioni del servizio</h1>
        <h3>1. GARANZIE DI ANNULLAMENTO</h3>
        <p>1 - Tasse di iscrizione: Le tasse di acconto incluse nel modulo di iscrizione devono essere pagate con carta di credito attraverso il nostro sito web o tramite bonifico bancario. Queste tasse non sono rimborsabili e fungono da garanzia nel caso
            in cui avessimo già iniziato a effettuare ricerche universitarie per conto del candidato, ma questi decidesse alla fine di non procedere con la procedura di iscrizione. Tuttavia, se Authentic Student rifiuta un'iscrizione, l'acconto sarà completamente
            rimborsato.</p>
        <p>2 - Formalità: È richiesto che ogni studente abbia un passaporto valido. Consigliamo agli interessati di fare domanda presso il loro comune in caso di necessità. Poiché alcune compagnie aeree e istituti universitari richiedono un passaporto valido
            fino a sei mesi dopo la data di ritorno prevista, chiediamo ai candidati ai nostri programmi di verificare la validità del loro passaporto prima dell'iscrizione.</p>
        <p>3 - Condizioni di ammissione: Salvo circostanze eccezionali, Authentic Student limita le iscrizioni ai candidati residenti in Italia. È essenziale che il candidato segua un percorso scolastico in Italia. Authentic Student si riserva il diritto
            di rifiutare un'iscrizione se il candidato non soddisfa i criteri di selezione o non ha le aspettative appropriate. In caso di rifiuto di un modulo di iscrizione dopo la ricezione, l'intero importo delle tasse sarà rimborsato. In caso di iscrizione
            tardiva, ossia quando il modulo viene restituito meno di 60 giorni prima della data di partenza, Authentic Student si riserva il diritto di aumentare le tasse di 300€ per le spedizioni EXPRESS da e verso il paese di destinazione. Inoltre,
            se lo stato di salute del candidato non consente ad Authentic Student di garantire un soggiorno nelle migliori condizioni, l'organizzazione può decidere di non accettare la candidatura nell'interesse del candidato.</p>
        <p>4 - Condizioni di cancellazione e garanzie: Se il partecipante è costretto a annullare il suo soggiorno per una delle cause descritte di seguito, le somme già pagate al momento dell'annullamento saranno completamente rimborsate. Queste garanzie
            di annullamento sono strettamente legate alle situazioni descritte e devono essere sempre supportate da un documento ufficiale con data certa (certificato medico, attestato ufficiale, ecc.). Sono garantiti:</p>
        <ul>
            <li>
                Per qualsiasi epidemia sconosciuta al momento dell'iscrizione (a condizione che questa epidemia sia sconosciuta al momento dell'iscrizione*):
            </li>
            <li>
                Se il Ministero degli Affari Esteri del tuo paese di residenza o l'Organizzazione Mondiale della Sanità hanno emesso restrizioni di viaggio o se le autorità locali negano l'ingresso nel territorio. I soggiorni prenotati prima dell'annuncio di tali restrizioni
                saranno valutati caso per caso. Questa regola non si applica in caso di pandemia.
            </li>
        </ul>
        <p>Altri rischi coperti includono le situazioni in cui il partecipante o un membro della sua famiglia impedisce il soggiorno:</p>
        <ul>
            <li>
                Malattia, incidente, ospedalizzazione che impedisce la partenza del partecipante (certificato medico richiesto).
            </li>
            <li>
                Morte di un parente stretto (nonno, genitore, fratello, sorella).
            </li>
            <li>
                Convocazione medica urgente
            </li>
        </ul>
        <p>Tuttavia, è importante notare che, a causa della diffusione di certificati di comodo, in particolare per ragioni "psicologiche", l'annullamento sarà preso in considerazione solo se il partecipante può giustificare almeno 3 notti di ospedalizzazione.</p>
        <p>A causa di circostanze esterne indipendenti dalla sfera familiare, le seguenti situazioni possono giustificare l'annullamento di un soggiorno:</p>
        <ul>
            <li>
                Furto di documenti d'identità nelle 48 ore precedenti alla partenza, a condizione di presentare una denuncia.
            </li>
            <li>
                In caso di emergenza epidemica o di rischio sanitario significativo nella o nelle città di destinazione, mettendo fortemente a rischio la salute dell'Assicurato (esclusa la pandemia).
            </li>
            <li>
                In caso di restrizioni di viaggio emesse dal Ministero degli Affari Esteri del paese di residenza dell'assicurato o dall'OMS, o se le autorità locali negano l'ingresso nel territorio, a condizione che il soggiorno sia stato prenotato prima dell'annuncio
                delle restrizioni dell'OMS e/o del Ministero degli Affari Esteri (esclusa la pandemia).
            </li>
        </ul>
        <h3>INFORMAZIONI E CONDIZIONI PARTICOLARI</h3>
        <p>Prima della partenza, Authentic Student non sarà ritenuta responsabile se lo studente non riesce a ottenere gli esami richiesti. Allo stesso modo, l'azienda non sarà ritenuta responsabile se nessuna università accetta la candidatura dello studente.
            Infatti, Authentic Student non può garantire il successo della candidatura dello studente in quanto dipende da criteri esterni alla nostra azienda. Nel caso in cui lo studente decida di rinunciare al suo progetto dopo la firma del contratto,
            ha il diritto di risolvere il contratto notificando Authentic Student per lettera raccomandata con avviso di ricevimento. Tuttavia, se le procedure per la compilazione della documentazione sono già iniziate, rimane dovuta la prima parte della
            remunerazione del Fornitore, indipendentemente dallo stato di avanzamento. In caso di accettazione della candidatura da parte di un'università, ma lo studente decide di rinunciare al suo posto, è dovuta l'intera remunerazione. Pertanto, lo
            studente si impegna a pagare la somma di 1.000€ simultaneamente all'invio della sua lettera di disdetta.</p>
        <p>
            Dopo la partenza
        </p>
        <p>a) Il partecipante che:</p>
        <p>
            I partecipanti che non si presentano alla partenza, che non sono in possesso dei documenti d'identità richiesti, che interpretano erroneamente le istruzioni date tempestivamente o che rifiutano di conformarsi ai requisiti sanitari delle compagnie aeree
            e/o dell'università, non potranno pretendere alcun rimborso. Inoltre, qualsiasi ritorno anticipato per motivi personali, un congedo o un respingimento alla frontiera comporterà per il partecipante o i genitori spese legali, spese di viaggio,
            assistenza legale e le spese di accompagnamento all'aeroporto più vicino.
        </p>
        <p>
            Si prega di notare che Authentic Student non sarà in nessun caso e in nessuna circostanza responsabile del comportamento dello studente, né di qualsiasi colpa o atto, anche non colpevole, dello studente nel contesto delle sue attività di studente negli
            Stati Uniti, né della violazione dei suoi obblighi di studente in loco.
        </p>
        <p>b) Authentic Student declina ogni responsabilità in caso di modifiche al programma causate da eventi imprevisti come catastrofi naturali, condizioni meteorologiche estreme, scioperi o cambiamenti di orario imposti dalle compagnie di trasporto.</p>
        <p>Annullamento da parte di Authentic Student</p>
        <p>Se un soggiorno deve essere annullato da Authentic Student, al partecipante verrà comunicato almeno un mese prima della data di partenza e gli verrà proposta un'alternativa di sostituzione. Tuttavia, il partecipante conserva il diritto di scegliere
            tra accettare le modifiche o rescindere senza spese e ottenere un rimborso completo delle spese di dossier.</p>
        <p>5 - Assenza il giorno della partenza:</p>
        <p>Se lo studente esprime ancora il desiderio di partire, Authentic Student gli fornirà assistenza per modificare il biglietto aereo e si occuperà dell'organizzazione del suo arrivo nel paese. Tuttavia, questi servizi comportano costi che saranno
            interamente a carico dello studente. Se il candidato non si presenta il giorno del suo viaggio, il suo biglietto potrebbe essere annullato e il costo di un nuovo biglietto sarà completamente a carico del candidato. L'acquisto di un biglietto
            dell'ultimo minuto può risultare molto costoso.

        </p>
        <p>6 - Le tariffe:</p>
        <p>Le tariffe delle università variano in base alla loro fama, alla loro posizione, tra altri fattori. Comunicheremo i costi precisi per l'università scelta dallo studente. I nostri costi di servizio rimangono gli stessi, indipendentemente dall'opzione
            di programma o università scelta. Sono chiaramente indicati nel nostro contratto di iscrizione.</p>
        <p>7 - Clausola di revisione dei prezzi:</p>
        <p>Authentic Student si riserva il diritto di modificare le tariffe annunciate in caso di fluttuazioni indipendenti dalla sua volontà dei tassi di cambio delle valute estere, inclusi i costi di acquisto e di trasferimento all'estero. Le tariffe per
            gli Stati Uniti sono soggette a variazioni in base alla parità al momento dell'emissione della fattura e le tariffe di alloggio dipendono anche dalla disponibilità. Se si riscontra un aumento significativo dell'importo da pagare in euro, equivalente
            a più dell'8% della tariffa iniziale della nostra brochure, offriamo eccezionalmente ai nostri clienti l'annullamento o il rinvio del loro soggiorno. In caso di annullamento per motivi legati a una fluttuazione significativa, il cliente sarà
            rimborsato di tutte le somme versate. Tuttavia, le tariffe consolari e le tariffe aeree o ferroviarie già pagate rimangono non rimborsabili. Poiché le tariffe sono soggette a variazioni, gli studenti che desiderano richiedere un prestito possono
            contattarci per conoscere le parità in vigore e adeguare l'importo del loro prestito di conseguenza.</p>
        <p>8 - I programmi di Authentic Student:</p>
        <p>Le università americane hanno piena autorità per determinare i calendari delle sessioni, le offerte di programmi di studio, i formati e gli orari dei corsi proposti. Possono anche apportare modifiche alle condizioni di ammissione, ai programmi
            di studio e alle opzioni di alloggio, prima o durante il soggiorno degli studenti. In situazioni eccezionali, se devono essere apportate tali modifiche, Authentic Student informerà prontamente i candidati interessati e proporrà alternative
            appropriate.</p>
        <p>9 - Si prega di notare che l'accesso a ciascuna università e formula di soggiorno presentate nella nostra brochure dipende dalla disponibilità di posti e dall'ammissibilità dei candidati. Si consiglia quindi di attendere la conferma della data
            di viaggio prima di procedere alla prenotazione dei trasporti e di considerare la possibilità di una modifica o cancellazione del biglietto, che può essere indipendente dalla nostra volontà.</p>
        <p>10 - Alloggio:</p>
        <p>Nell'ambito dell'organizzazione di un soggiorno in appartamento per studenti, il nostro team coordinatore si occupa delle pratiche amministrative presso l'università per ottenere un alloggio per ciascun candidato. Sebbene i dettagli di questo
            alloggio possano essere comunicati in anticipo, la conferma potrà essere effettuata solo al ricevimento del saldo della fattura. Tuttavia, l'assegnazione in appartamento per studenti sarà annullata in caso di mancato rispetto del calendario
            dei pagamenti. Si prega di notare che se si desidera ottenere un appartamento situato al di fuori del campus della propria università, Authentic Student non sarà responsabile di tali pratiche, che sono di responsabilità esclusiva dell'utente.</p>
        <p>11 - Assicurazione Internazionale:</p>
        <p>La sottoscrizione di un'assicurazione internazionale è imperativa e Authentic Student accompagna gli studenti nella selezione dell'assicurazione più adatta, nonché nelle formalità amministrative richieste. Non esitate a contattarci per ulteriori
            informazioni.</p>
        <p>12 - Disciplina:</p>
        <p>Un livello di cortesia e un abbigliamento appropriato sono richiesti agli studenti iscritti al nostro programma. Qualsiasi comportamento in violazione del regolamento dell'università o delle leggi vigenti nel paese ospitante sarà considerato un'infrazione
            e comporterà immediatamente l'espulsione dello studente, senza alcun rimborso concesso. Le spese di rimpatrio e giuridiche saranno a carico dello studente. Authentic Student si riserva il diritto di rifiutare l'iscrizione a qualsiasi studente
            il cui comportamento sia ritenuto inappropriato. Inoltre, ci riserviamo il diritto di rifiutare una candidatura precedentemente accettata se il candidato o i suoi genitori hanno adottato un comportamento inappropriato nei confronti del programma
            selezionato o se non sono in grado di fornire i documenti richiesti per l'iscrizione.</p>
        <p>13 - Soldi Tascabili:</p>
        <p>Si consiglia agli studenti di munirsi di una carta di credito internazionale prima della partenza. Si precisa che la gestione del denaro tascabile dello studente non rientra nella responsabilità di Authentic Student.</p>
        <p>14 - Responsabilità di Authentic Student:</p>
        <p>Authentic Student declina ogni responsabilità in caso di impossibilità di fornire i servizi previsti a causa di una catastrofe naturale, di una pandemia o di gravi disordini al di fuori del suo controllo, come una guerra civile o estera dichiarata
            o non, o un atto terroristico. Tali casi saranno considerati di forza maggiore e si applicheranno le condizioni di annullamento dopo la partenza.</p>
        <p>15 - Responsabilità dello Studente:</p>
        <p>
            I partecipanti sono tenuti a fornire informazioni esatte e complete nel loro dossier di iscrizione, impegnando la loro responsabilità nei confronti di Authentic Student, dell'università e dei servizi d'immigrazione. In caso di rifiuto del visto, Authentic
            Student non può essere ritenuto responsabile ed eventuali rimborsi saranno discussi con Authentic Student e i suoi partner. Il candidato al programma assume pienamente la responsabilità delle sue azioni durante il suo soggiorno all'estero.
        </p>
        <p>16 - Contenuti Visivi:</p>
        <p>I contenuti visivi dei candidati catturati da Authentic Student sono esenti da diritti d'autore e saranno utilizzati per migliorare le nostre offerte di programmi e destinazioni nelle nostre pubblicazioni, brochure, sito web e sui social media.</p>
        <p>17 - Lavoro Durante il Soggiorno:</p>
        <p>Lo studente può lavorare nel campus universitario per un massimo di 20 ore a settimana, a condizione di conformarsi alle leggi e alle regolamentazioni sull'impiego negli Stati Uniti. È responsabilità del candidato informarsi sui requisiti legali
            prima di candidarsi per qualsiasi posizione retribuita.</p>
        <p>18 - Accoglienza in Aeroporto:</p>
        <p>Si prega di notare che Authentic Student non si assume la responsabilità dell'accoglienza in aeroporto degli studenti che viaggiano negli Stati Uniti. Tuttavia, l'ufficio internazionale dell'università interessata potrebbe offrire un servizio
            di trasporto dall'università. Gli organizzatori dell'accoglienza non sono tenuti a parlare italiano. L'accoglienza in aeroporto è responsabilità dello studente.</p>
        <p>19 - Stato di Salute:</p>
        <p>Il candidato deve essere in buone condizioni fisiche e mentali per poter viaggiare e risiedere negli Stati Uniti. Alcuni programmi richiedono che il libretto delle vaccinazioni sia aggiornato. Per i soggiorni universitari, l'aggiornamento del
            libretto delle vaccinazioni è un requisito obbligatorio. Per ulteriori dettagli, vi preghiamo di contattarci.</p>
        <p>20 - Modalità di Pagamento:</p>
        <p>I programmi universitari, i master e i community college sono soggetti a un calendario di pagamenti. Il saldo del programma deve essere pagato prima della partenza. Vi invitiamo a contattarci per ottenere i dettagli relativi a questo calendario.
            I pagamenti possono essere effettuati tramite bonifico bancario o in contanti. Nel caso di un bonifico bancario, le spese sono a carico dell'ordinante. Se il termine di pagamento non è rispettato prima della partenza, Authentic Student si
            riserva il diritto di annullare o posticipare la partecipazione del candidato al programma.</p>
        <p>21 - Scadenze di Iscrizione:</p>
        <p>È possibile inviare domande di iscrizione in ritardo, ma si consiglia di contattarci se si prevede di iscriversi a breve. Le domande universitarie devono essere presentate tra 4 e 6 mesi prima della data di partenza.</p>
        <p>22 - Ottenimento dei Visti:</p>
        <p>È importante sottolineare che, presso Authentic Student, non possiamo garantire l'ottenimento di un visto per gli Stati Uniti. Vi invitiamo a contattarci preventivamente per informarvi sulle condizioni richieste per ottenere un tale visto. Saremo
            in grado di accompagnarvi nelle procedure fino alla prenotazione dell'appuntamento, ma è importante notare che le spese consolari sono stabilite dalle ambasciate e dai consolati e potrebbero variare. Inoltre, l'ambasciata americana in Italia
            richiede la presenza in persona per alcune procedure.</p>
        <p>23 - Ricerca e Modifica del Programma:</p>
        <p>In caso di richiesta di modifica della prenotazione da parte del candidato prima o dopo la partenza, e se questa è fattibile, verranno addebitate spese di 300€ per coprire i costi legati alle nuove condizioni di soggiorno, come la modifica della
            data, del tipo di alloggio, del contenuto accademico o della destinazione. Inoltre, se il candidato desidera partecipare a un programma non proposto nella nostra brochure, Authentic Student si riserva il diritto di addebitare spese di ricerca
            per un importo di 300€.</p>
        <p>24 - Clause di Competenza:</p>
        <p>In caso di controversia, il tribunale competente è quello situato nella giurisdizione della sede legale di Authentic Student.</p>
        <p>25 - Se il candidato al programma è minorenne, l'iscrizione deve essere effettuata dal tutore legale, che assume la piena responsabilità del ragazzo.</p>
        <p>26 - Authentic Student si riserva il diritto di stabilire i propri criteri di ammissione, distinti da quelli delle università che accolgono i nostri candidati.</p>
        <p>27 - Riguardo a certificati e diplomi:</p>
        <p>Si prega di notare che è preferibile non inviare documenti originali per l'iscrizione. Accettiamo solo fotocopie conformi. Si prega di notare che Authentic Student non potrà conservare i vostri documenti negli archivi oltre un anno dal vostro
            soggiorno. Se avete bisogno di una traduzione dei vostri certificati in inglese per l'ammissione all'università, vi preghiamo di contattarci per discuterne.</p>
        <p>28 - Attenzione per i Minori:</p>
        <p>I genitori, o il tutore responsabile del ragazzo, che iscrive il proprio figlio a uno dei nostri soggiorni negli Stati Uniti, sono tenuti a verificare l'assenza di un divieto di uscita dal territorio italiano nel registro delle persone ricercate,
            che comporterebbe l'annullamento dell'iscrizione senza possibilità di rimborso degli acconti versati. Dal 15 gennaio 2017, è stata reintrodotta l'autorizzazione di uscita dal territorio per i minori. Se un minore viaggia all'estero senza essere
            accompagnato da uno dei genitori, deve presentare i seguenti 3 documenti: documento d'identità del minore (carta d'identità o passaporto), modulo firmato da uno dei genitori titolare dell'autorità parentale e copia del documento d'identità
            del genitore firmatario.</p>
        <p>29 - Vaccini:</p>
        <p>Authentic Student informa i genitori sui vaccini obbligatori a seconda delle destinazioni e sulle procedure da seguire per conformarsi alle esigenze sanitarie. Tuttavia, i vaccini richiesti possono variare da un paese all'altro, il che implica
            che alcuni vaccini non obbligatori in Italia e lo possono essere all'estero. In questo contesto, consigliamo ai genitori di conformarsi alle regole vigenti per la propria sicurezza e quella del proprio figlio. Se un genitore si oppone a uno
            o più dei vaccini richiesti, gli chiediamo di rispettare i requisiti vigenti e di far vaccinare il proprio figlio, o di non iscriverlo a uno dei nostri programmi.</p>
        <p>30 - Per i Minori:</p>
        <p>Quando i genitori iscrivono il proprio figlio a uno dei programmi di Authentic Student, attestano che il loro figlio è idoneo fisicamente, emotivamente e mentalmente a viaggiare da solo da e verso il paese ospitante, ad adattarsi a un ambiente
            straniero, a vivere senza la presenza dei loro genitori e della loro famiglia, nonché a partecipare a tutti i corsi, le attività e le escursioni proposte. Devono anche essere in grado di gestire le loro emozioni e frustrazioni con calma e
            apertura. In caso contrario, il ragazzo sarà rimpatriato nel suo paese d'origine senza possibilità di rimborso. Se il ragazzo non è in grado di viaggiare da solo nel suo paese d'origine, i genitori dovranno venire a prenderlo a proprie spese.
            Almeno uno dei genitori deve quindi avere un passaporto valido. I costi dei biglietti aerei acquistati all'ultimo minuto sono elevati, quindi i genitori devono prevedere questa eventualità prima di procedere all'iscrizione. Inoltre, i genitori
            devono garantire che il loro figlio sarà in grado di contattarli per qualsiasi domanda e che è sufficientemente maturo per segnalare immediatamente qualsiasi problema o anomalia riscontrata durante il suo soggiorno. Per i candidati maggiorenni,
            si applicano le stesse esigenze, con una capacità attestata di viaggiare da soli e di segnalare eventuali problemi.</p>
        <p>31 - Trattamento dei dati personali:</p>
        <p>Responsabile del trattamento: AUTHENTIC STUDENT DI DAVIDE COMAI: 02735740223</p>
        <p><a (click)="link__3()" style="cursor: pointer;">Email: authenticstudent.it@gmail.com </a></p>
        <p><strong>Protezione dei tuoi dati personali</strong></p>
        <p>Presso Authentic Student, attribuiamo grande importanza alla protezione della tua privacy e alla difesa dei tuoi diritti in materia di dati personali.</p>
        <p>In qualità di responsabili del trattamento, potremmo raccogliere e trattare dati personali che vi riguardano nell'ambito dell'utilizzo dei nostri servizi, in particolare quelli accessibili sul nostro sito web.</p>
        <p>Pertanto, vi garantiamo in ogni momento l'accesso ai tuoi dati personali, la possibilità di modificarli e di richiederne la rimozione dal nostro database. Vogliamo assicurarvi che le tue informazioni personali non saranno mai condivise a fini
            di marketing con aziende o organizzazioni esterne.</p>
        <p>Per garantire il rispetto di queste regole, Authentic Student implementa procedure interne adeguate per sensibilizzare i propri dipendenti e garantirne l'applicazione all'interno della nostra organizzazione.</p>

        <p><strong>Dati personali che raccogliamo</strong></p>
        <p>Durante la tua iscrizione a un soggiorno con Authentic Student, potrebbe essere richiesto di fornirci alcune informazioni personali, tra cui il tuo indirizzo postale, l'indirizzo e-mail, il numero di telefono e la data di nascita.</p>
        <p>Durante la navigazione sul nostro sito web, potremmo raccogliere i dati raccolti durante la tua navigazione sul nostro sito web e le informazioni relative all'accesso ai nostri servizi digitali, come il sistema operativo e le caratteristiche del
            browser utilizzato.</p>
        <p>Quando partite per un’esperienza con noi, potremmo raccogliere le informazioni dei passeggeri e i dettagli del passaporto, nonché i dettagli dell'assicurazione. Teniamo conto delle informazioni mediche rilevanti, delle richieste speciali, delle
            preferenze dietetiche o delle disabilità e delle informazioni a carattere religioso. Registriamo anche le informazioni relative ai tuoi acquisti e metodi di pagamento, nonché il tuo comportamento di navigazione sul nostro sito web, inclusa
            l'ora in cui fai clic su uno dei nostri annunci. Raccogliamo dati su come accedi ai nostri servizi digitali, inclusi i dettagli del tuo sistema operativo e del tuo browser.</p>
        <p>Quando ci contatti o ti contattiamo, o partecipi a promozioni, concorsi, sondaggi o questionari relativi ai nostri servizi, potremmo raccogliere:</p>
        <p>Le informazioni personali che ci fornisci durante i tuoi contatti con noi, che sia via email, posta ordinaria, telefono o social media, inclusi il tuo nome e i tuoi contatti. Teniamo conto anche dei tuoi commenti e delle tue risposte ai nostri
            sondaggi e questionari sulla clientela.</p>
        <p>Altre fonti di dati personali:</p>
        <p>Nel contesto della nostra missione di rappresentare e proteggere i tuoi interessi, potrebbe essere necessario scambiare dati personali rilevanti e categorie particolari di dati personali con la tua compagnia assicurativa, i suoi agenti e il personale
            medico. Questa comunicazione di dati avviene solo in circostanze in cui siamo tenuti ad agire per tuo conto, nell'interesse degli altri nostri clienti o in caso di emergenza.</p>
        <p>Dati personali che fornisci su altre persone:</p>
        <p>Nell'organizzazione di un soggiorno, potremmo dover raccogliere dati personali riguardanti la famiglia del partecipante (genitori, figli, fratelli e sorelle). È fondamentale informarli di questa trasmissione di dati e assicurarsi di ottenere il
            loro consenso a tal fine.</p>
        <p>Utilizzo dei tuoi dati personali:</p>
        <p>Utilizziamo i tuoi dati personali in diverse modalità, come spiegato di seguito:</p>
        <ul>
            <li>Per rispondere alle tue esigenze di prodotti e servizi siamo tenuti a trattare i tuoi dati personali. Ciò implica la gestione della tua prenotazione, la fornitura dei prodotti e servizi selezionati, così come l'assistenza relativamente agli
                ordini e ai rimborsi che potresti richiedere.</li>
            <li>Ottimizzare la gestione dei nostri prodotti, servizi e attività quotidiane al fine di migliorarne qualità ed efficienza. Raccogliamo dati personali per gestire e migliorare i nostri prodotti, siti web e altri servizi. Garantiamo la protezione
                di questi dati, rileviamo e preveniamo frodi, attività criminali e abusi dei nostri servizi per assicurare la sicurezza delle nostre operazioni informatiche.</li>
            <li>Per la sicurezza dei nostri partecipanti: Potremmo utilizzare dati personali a fini medici e assicurativi in caso di incidenti.</li>
            <li>Ricerca e sviluppo interni: Effettuiamo ricerche e sviluppiamo progetti interni utilizzando dati personali per migliorare la nostra gamma di prodotti, servizi, sistemi informatici, sicurezza, competenze e comunicazione con i nostri clienti.</li>
            <li>Per contattarti e interagire con te nel migliorare il nostro servizio clienti, ci impegniamo a utilizzare i dati personali che ci fornisci durante il tuo contatto con noi, che sia via email, telefono o attraverso i social media. Questo utilizzo
                dei tuoi dati personali mira a fornirti tutte le informazioni necessarie per assisterti nelle tue scelte e procedure.</li>
            <li>Comunicazioni di marketing: Potremmo inviarti offerte e informazioni pertinenti sui nostri prodotti e servizi attraverso diversi canali, incluso l'email. Tuttavia, lo faremo solo se hai dato il tuo consenso preventivo a ricevere queste comunicazioni
                di marketing.</li>
        </ul>

        <p>
            Durante la tua prenotazione, avrai la possibilità di specificare le opzioni che desideri attivare riguardo alle comunicazioni di marketing, all'uso dei tuoi dati e ai documenti visuali relativi a tuo figlio/a.
        </p>
        <p>
            In seguito, potrai modificare le tue preferenze in qualsiasi momento scrivendoci a <a (click)="link__3()" style="cursor: pointer;">authenticstudent.it@gmail.com</a>. Le scelte sono tue, ma il tuo consenso facilita la comunicazione tra la nostra
            associazione e te stesso/a.
        </p>
        <p>Anche in caso di rifiuto delle comunicazioni di marketing, continuerai a essere contattato per tutte le comunicazioni relative all'esecuzione del soggiorno, come le istruzioni, il pagamento e tutte le informazioni necessarie per garantire lo svolgimento
            corretto del tuo soggiorno.</p>
        <ul>
            <li>
                Condivisione di dati personali con le autorità regolamentari: Per consentirti o al tuo figlio/a di viaggiare, potrebbe essere necessario (secondo le richieste delle autorità governative al punto di partenza e/o di destinazione) divulgare e trattare i
                tuoi dati personali per scopi di immigrazione, controllo delle frontiere, sicurezza e lotta al terrorismo, o per qualsiasi altra finalità considerata appropriata da queste autorità.
            </li>
        </ul>
        <p>Potremmo condividere i dati personali minimi necessari con altre autorità pubbliche se la legge ce lo richiede o se siamo legalmente autorizzati a farlo.</p>
        <ul>
            <li>Condivisione di dati personali: La nostra politica sulla privacy si applica a tutti i nostri servizi, ad eccezione di quelli con una politica separata. Possiamo condividere informazioni personali minime con i nostri partner per fornire i prodotti
                e servizi richiesti, migliorare le nostre attività quotidiane e personalizzare la tua esperienza. Possiamo anche utilizzare queste informazioni a fini di marketing, nel rispetto delle leggi vigenti.</li>
            <li>Protezione dei tuoi dati personali: La protezione e la gestione dei tuoi dati personali sono essenziali per noi, e abbiamo implementato misure di sicurezza adeguate per prevenire perdite accidentali o accessi, usi, modifiche o divulgazioni
                non autorizzate. Tuttavia, la sicurezza dei tuoi dati dipende anche dalla tua diligenza personale, in particolare per quanto riguarda la riservatezza delle tue password.</li>
        </ul>
        <p>
            Potrebbe essere necessario trasferire e archiviare i dati personali che raccogliamo da te in destinazioni situate al di fuori dello Spazio economico europeo (SEE), o trattati da organizzazioni che operano al di fuori del SEE. Adottiamo adeguate misure
            di protezione per garantire che i tuoi dati siano trattati conformemente a questa informativa e siano adeguatamente protetti. Tali misure includono clausole contrattuali appropriate, come le clausole contrattuali standard approvate dalla Commissione
            europea, e misure di sicurezza adeguate.
        </p>
        <p><strong>Conservazione dei dati:</strong></p>
        <p>Conserviamo le tue informazioni personali per il tempo necessario per gli scopi descritti nella nostra politica sulla privacy, nonché per adempiere agli obblighi legali e regolamentari in vigore. Dopo questo periodo, procederemo a una cancellazione
            sicura dei tuoi dati personali. Se i dati sono necessari per scopi commerciali, analitici, storici o altri, adotteremo le misure necessarie per anonimizzarli.</p>
        <p><strong>In merito ai cookie e alle tecnologie simili:</strong></p>
        <p>I cookie sono piccoli file di dati che consentono a un sito web di raccogliere e memorizzare varie informazioni sul tuo computer, che sia un computer fisso, un laptop o un dispositivo mobile. Grazie a questi cookie, siamo in grado di offrirti
            funzionalità e servizi essenziali sul nostro sito, contribuendo così a migliorare la tua esperienza utente.</p>

        <p><strong>Caratteristiche dei social media:</strong></p>
        <p>È possibile che i nostri siti web presentino funzionalità di social media, come Instagram, TikTok, Facebook, Twitter, Google+ e Pinterest, ognuno con le proprie politiche sulla privacy. Vi consigliamo quindi di leggere attentamente i loro termini
            e condizioni e le loro politiche sulla privacy prima di fornire dati personali, poiché decliniamo ogni responsabilità legata all'uso di tali funzionalità.</p>
        <p><strong>Accesso e aggiornamento dei dati personali e reclami:</strong></p>
        <p>Se desiderate ottenere una copia dei dati personali che deteniamo su di voi, vi preghiamo di contattarci all'indirizzo <a (click)="link__3()" style="cursor: pointer;">authenticstudent.it@gmail.com</a>.</p>
        <p>Siamo impegnati a garantire l'accuratezza e l'aggiornamento dei vostri dati personali. Se notate un errore, vi preghiamo di comunicarcelo in modo che possiamo correggere il problema.</p>
        <p>Potete anche chiederci di correggere o cancellare i vostri dati personali, opporvi al loro trattamento e richiederne il trasferimento a un'altra organizzazione, quando ciò sia tecnicamente possibile.</p>
        <p>Aggiorniamo o cancelliamo i vostri dati, a meno che non li conserviamo per scopi commerciali o legali legittimi.</p>
        <p>Se avete un reclamo riguardo alla raccolta, conservazione o utilizzo dei vostri dati personali, vi preghiamo di contattarci.</p>
        <p>Notate che potremmo chiedervi di verificare la vostra identità prima di elaborare la vostra richiesta o reclamo. Potremmo anche richiedervi ulteriori informazioni per verificare che siete autorizzati a fare una tale richiesta o reclamo per conto
            di altri.</p>
        <p><strong>Base legale per il trattamento dei dati personali:</strong></p>
        <p>Raccoglieremo e utilizzeremo i vostri dati personali solo se almeno una delle seguenti condizioni si applica:</p>
        <ul>
            <li>Abbiamo il vostro consenso. Esempio: modulo di contatto</li>
            <li>È necessario per un contratto con voi. Esempio: fornire i prodotti e i servizi che richiedete</li>
        </ul>
        <p>
            Il trattamento dei vostri dati personali è necessario per garantire la gestione della vostra prenotazione, la fornitura dei servizi che desiderate acquisire e l'assistenza per i rimborsi che potreste richiedere. Questo trattamento è anche essenziale per
            adempiere a un obbligo legale. Esempio: Condivisione di dati personali con le autorità di regolamentazione.
        </p>
        <p>Quando viaggiate, potrebbe essere richiesto dalle autorità governative al punto di partenza e/o di arrivo di divulgare e trattare i vostri dati personali per scopi di immigrazione e controllo delle frontiere. </p>
        <p>Questa misura è necessaria per proteggere i vostri interessi vitali o quelli di altri. Esempio: In caso di emergenza.</p>
        <p>Nel contesto del nostro incarico di agire per vostro conto o nell'interesse di altri clienti, o in situazioni di emergenza, la nostra azienda può scambiare dati personali rilevanti, nonché categorie specifiche di dati personali, con la vostra
            compagnia assicurativa, i suoi agenti e il personale medico. Questa misura viene presa in conformità con le autorità ufficiali o nell'interesse pubblico. Esempio: Operazioni di sicurezza.</p>
        <p>Siamo in grado di utilizzare dati personali per gestire operazioni di sicurezza, incidenti o situazioni simili, inclusi scopi medici e assicurativi.</p>
        <p>Quando dobbiamo trattare dati personali sensibili, come dati medici, lo faremo solo se si applicano una o più condizioni aggiuntive, come ottenere il vostro consenso esplicito, la necessità di proteggere i vostri interessi vitali o quelli di un
            terzo quando siete incapaci di dare il vostro consenso, o la necessità di stabilire, esercitare o difendere rivendicazioni legali, o per ragioni di interesse pubblico sostanziale.</p>
        <p>Come accedere, controllare e correggere le vostre informazioni personali: </p>
        <p>Se desiderate fare una richiesta riguardante i vostri dati personali o se pensate che le vostre informazioni siano state violate, vi preghiamo di contattare il nostro responsabile del trattamento all'indirizzo email seguente: <a (click)="link__3()"
                style="cursor: pointer;">authenticstudent.it@gmail.com</a></p>
        <p><strong>Spiegazioni:</strong></p>
        <p>Responsabile del trattamento: Va notato che è quest'ultimo a essere responsabile di determinare lo scopo e il modo in cui vengono utilizzati i dati personali.</p>
        <p>Spazio economico europeo (SEE): Stati membri dell'UE più Norvegia, Islanda e Liechtenstein.</p>
        <p>Pubblicità online: Messaggi di marketing che è possibile visualizzare su Internet.</p>
        <p>Categorie speciali di dati personali: Queste categorie di dati personali includono informazioni che rivelano l'origine razziale o etnica, le opinioni politiche, le convinzioni religiose o filosofiche, l'appartenenza sindacale, i dati genetici,
            i dati biometrici volti a identificare in modo univoco una persona fisica, i dati sulla salute, nonché dati relativi alla vita sessuale o all'orientamento sessuale di una persona fisica.</p>
        <p>Dati di volo sicuri negli Stati Uniti: La Transportation Security Administration (TSA) vi invita cortesemente a fornire le seguenti informazioni: il vostro nome completo, la data di nascita, il sesso e il vostro numero di riparazione, se applicabile,
            per verificare l'elenco dei controlli. Il rifiuto di fornire questi dettagli potrebbe comportare il rifiuto di trasporto o l'ingresso nell'area di imbarco. La TSA potrebbe condividere queste informazioni con le agenzie di applicazione della
            legge, i servizi di intelligence o altre entità, nell'ambito del suo sistema di notifiche. Vi invitiamo a consultare il nostro sito web per ulteriori informazioni al riguardo.</p>
        <p><strong>Politica sui cookie:</strong></p>
        <p>Informazioni sui cookie e tecnologie simili.</p>
        <p>I cookie sono piccoli file di dati che consentono a un sito web o a un'applicazione mobile di raccogliere e memorizzare informazioni sul vostro computer, laptop o dispositivo mobile. Sono utilizzati per migliorare il funzionamento e le prestazioni
            del sito web, ad esempio aiutando a monitorare il processo di prenotazione o fornendo informazioni sul numero di visitatori e sulle tendenze più comuni. Con la nostra autorizzazione, altre organizzazioni possono anche inserire cookie sul nostro
            sito web. Questi cookie sono essenziali per offrire funzionalità ed esperienze di qualità agli utenti.</p>
        <p><strong>Le vostre scelte in materia di cookie:</strong></p>
        <p>È possibile utilizzare le impostazioni del proprio browser per accettare o rifiutare i nuovi cookie e eliminare quelli esistenti. È anche possibile configurare il browser per ricevere una notifica ogni volta che viene inserito un nuovo cookie
            sul computer o su un altro dispositivo. Tuttavia, se l'utente sceglie di disabilitare alcuni o tutti i cookie, potrebbe non essere possibile utilizzare completamente il sito web.</p>
        <p><strong>Spiegazioni: </strong></p>
        <p>Analisi del sito web.</p>
        <p>L'analisi del sito web utilizza cookie di prima parte per tracciare le interazioni dei visitatori e raccogliere informazioni sull'uso del nostro sito web e delle nostre applicazioni mobili. Queste informazioni ci consentono di compilare rapporti
            e migliorare il nostro sito.</p>
        <p>La pubblicità online rappresenta messaggi di marketing diffusi su Internet.</p>
        <p>32 - Covid 19 e altri virus, epidemie, pandemie, malattie:</p>
        <p>Prima e durante il soggiorno, il candidato deve essere consapevole che la sua università dovrà conformarsi alle norme sanitarie imposte dal governo del paese ospitante o dalle compagnie aeree, a seconda dei casi. Queste norme potrebbero comportare
            modifiche alle condizioni di ammissione, all'orario delle lezioni, alle uscite o alle attività proposte, ecc. Il candidato è tenuto a prendersi cura della propria salute e a rispettare le norme sanitarie durante il viaggio e il soggiorno.
            Authentic Student non può essere ritenuto responsabile per la contrazione di un virus o di una malattia durante il soggiorno. Se il candidato decide di tornare prima, sia per sua volontà, sia su richiesta di Authentic Student o di un'autorità
            italiana o locale, si applicano le condizioni di rimborso del soggiorno.</p>
    </div>
</div>