<div class="container__esterno__generale">
    <div id="sezione__uno">
        <div></div>
        <h1 class="h1__medium" style="color: #ffffff !important;">Scuole superiori</h1>
    </div>
    <div id="sezione__container">
        <div id="sezione__due" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__due__title"></h1>
                    <h1 id="sezione__due__title__pre">I nostri programmi</h1>
                </div>
                <div>
                    <p>
                        Offriamo <strong>tre programmi distinti</strong> per inserirsi in un liceo negli Stati Uniti, ognuno dei quali include un'esperienza in una famiglia ospitante. Vi invitiamo a leggere attentamente i dettagli di ogni programma per
                        determinare quello che meglio si adatta alle vostre esigenze.
                    </p>
                    <ul>
                        <li>
                            <p>
                                <strong>Programma Value:</strong> Questo programma offre un'esperienza in un liceo privato negli Stati Uniti. Rimarrete immersi in una famiglia ospitante, per una durata di cinque o dieci mesi. Le famiglie ospitanti selezionate
                                hanno generalmente maggiori risorse finanziarie, e sebbene la destinazione sia casuale, questo programma offre una varietà di attività extra proposte dal liceo privato. In particolare, avrete a disposizioni migliori strutture
                                accademiche e sportive.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Programma Choice:</strong> Questo programma vi permette di scegliere la vostra destinazione negli Stati Uniti! Partite per la destinazione dei vostri sogni: la Florida, New York, la California e molte altre. Come nel
                                primo programma, avrete l’opportunità di vivere un'esperienza in un liceo privato con una famiglia ospitante americana per una durata di cinque o dieci mesi. In questo caso, le attività extra proposte dal liceo privato
                                sono incluse e il costo varia in base alla destinazione scelta. </p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Programma ASE:</strong> Questo programma vi offre la possibilità di inserirvi in un liceo negli Stati Uniti per un periodo di breve durata, da due a cinque mesi. È il nostro programma più conveniente, ma è opportuno
                                notare che la durata limitata dell'esperienza significa che alcune opzioni e attività possono essere limitate. Tuttavia, questo programma offre un'ottima opportunità per scoprire la vita di uno studente americano per un
                                breve periodo prima eventualmente di svolgere un anno completo negli USA.</p>
                        </li>
                    </ul>
                    <p><strong>Se desiderate ulteriori informazioni</strong> su questo programma, contattaci via e-mail all'indirizzo seguente, <a href="mailto:authenticstudent.it@gmail.com">authenticstudent.it@gmail.com</a>, o con un messaggio wathsapp
                        o chiamandoci al <strong>+39 3333854818</strong>.</p>

                </div>
            </div>
        </div>
        <div id="sezione__tre" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__tre__title__pre">Le nostre scuole negli USA</h1>
                </div>
                <div>
                    <p>
                        Attualmente, Authentic Student dispone di oltre 200 licei pubblici e privati americani in tutto il territorio degli Stati Uniti. Abbiamo fatto attenzione a selezionare i migliori licei affinché i giovani studenti italiani possano godere appieno di ciò
                        che i nostri programmi hanno da offrire.
                    </p>
                    <p>Proponiamo numerose destinazioni fantastiche, tra cui <strong>Chicago, Miami, Los Angeles, New York, la California, la Florida</strong> e molte altre.</p>
                    <img src="../../../assets/immagini/Berry-College-in-Rome-Georgia.jpg">

                </div>
            </div>
        </div>
        <div id="sezione__quattro" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__quattro__title__pre">Gli elementi distintivi di questo programma</h1>
                </div>
                <div>
                    <p>
                        Gli elementi distintivi di questo programma di questi programmi
                    </p>
                    <ul>
                        <li>
                            <p>
                                <strong>Diventare bilingue in inglese:</strong> Vivere in un ambiente linguistico dove si interloquisce in inglese per l'intera giornata divenendo un modo molto efficace per diventare bilingue.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Esperienza culturale:</strong> Come studente di scambio, avrai la possibilità di vivere con una famiglia ospitante americana e scoprire la cultura e le tradizioni locali. Avrai anche l'opportunità di incontrare altri
                                studenti americani e stranieri, immergendoti così nella vita studentesca statunitense.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Sviluppo personale:</strong> Vivere in un ambiente straniero può aiutarti a vedere il mondo da una prospettiva nuova e sviluppare una visione più ampia e aperta delle questioni globali. Avrai anche l'opportunità di
                                viaggiare e scoprire diversi stati degli Stati Uniti.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Opportunità accademiche:</strong> Le istituzioni educative americane sono spesso molto rinomate, offrendo programmi accademici di qualità e risorse di ricerca avanzate. Come studente di scambio, avrai l'opportunità
                                di seguire corsi e accedere a tali risorse.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Espansione degli orizzonti:</strong> Vivere in un ambiente straniero può aiutarti a vedere il mondo da una prospettiva nuova e sviluppare una visione più ampia e aperta delle questioni globali. Avrai anche l'opportunità
                                di viaggiare e scoprire diverse regioni degli Stati Uniti.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__cinque">
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Corsi</h1>
            </div>
            <div>
                <p>
                    Il sistema di corsi negli Stati Uniti è abbastanza differente da quello in Italia e presenta diversi vantaggi
                </p>
                <div>
                    <ul>
                        <li>
                            <strong>Accesso a un'istruzione di alta qualità:</strong> Gli istituti di istruzione americani godono spesso di una buona reputazione, offrendo programmi accademici di qualità e risorse di ricerca avanzate. Come studente di
                            scambio, avrai l'opportunità di seguire corsi e accedere a tali risorse, contribuendo così ad approfondire le tue conoscenze nel tuo campo di studio.
                        </li>
                        <li>
                            <strong>Apprendimento di un nuovo sistema educativo:</strong> Gli Stati Uniti adottano un sistema educativo diverso rispetto a molti altri paesi, e in quanto studente di scambio avrai l'occasione di scoprire e imparare a navigare
                            in questo sistema. Questo può aiutarti a sviluppare competenze di adattamento e a ampliare la tua prospettiva sull'insegnamento e sull'apprendimento.
                        </li>
                        <li>
                            <strong>Possibilità di seguire corsi unici:</strong> Gli istituti di istruzione americani offrono spesso corsi unici e specializzati che potrebbero non essere disponibili nel tuo paese d'origine. Come studente di scambio, avrai
                            la possibilità di seguire questi corsi, acquisendo conoscenze e competenze aggiuntive che potrai poi utilizzare nel tuo futuro percorso accademico e professionale.
                        </li>
                        <li>
                            <strong>Immersione nella cultura americana:</strong> Frequentare le lezioni negli Stati Uniti come studente di scambio ti consente di immergerti completamente nella vita studentesca americana e di scoprire la cultura e le tradizioni
                            locali in prima persona. Avrai l'opportunità di incontrare altri studenti americani e stranieri, partecipare ad attività extracurriculari e conoscere la vita quotidiana degli Stati Uniti.
                        </li>
                    </ul>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Alloggio</h1>
            </div>
            <div>
                <p>
                    Scegliendo il programma "Scuole superiori negli Stati Uniti", alloggerai direttamente presso una famiglia ospitante americana.
                </p>
                <div>
                    <p>La scelta di una famiglia ospitante americana come studente di scambio presenta numerosi vantaggi. In primo luogo, ti consente di <strong>vivere in un ambiente familiare</strong>, scoprendo autenticamente la vita quotidiana americana.
                        Avrai l'opportunità di condividere i pasti con la tua famiglia ospitante, partecipare alle loro attività familiari e imparare espressioni e abitudini locali che non troveresti nei libri.</p>
                    <p>Inoltre, la tua famiglia ospitante può offrirti un prezioso <strong>supporto durante il tuo soggiorno negli Stati Uniti.</strong> Possono aiutarti a orientarti nella tua nuova scuola, a trovare attività extracurriculari ed eventi locali
                        interessanti, nonché ad integrarti nella tua nuova comunità. Possono anche aiutarti a comprendere e rispettare le differenze culturali, facilitando la tua adattamento al nuovo paese ospitante.</p>
                    <p>Inoltre, vivere con una famiglia ospitante può permetterti di <strong>creare legami duraturi con persone di diverse culture</strong>, rafforzando la tua comprensione e tolleranza verso gli altri. Questa può essere un'esperienza molto
                        arricchente e gratificante che contribuirà al tuo sviluppo personale e professionale.</p>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Condizioni</h1>
            </div>
            <div>
                <p>
                    Se soddisfate tutte le condizioni di ammissione di seguito, allora siete idonei al programma Lycée aux USA!
                </p>
                <div>
                    <ul>
                        <li>Dovete avere un'età compresa tra i 15 e i 18 anni (a volte 19 anni) al momento del vostro arrivo negli Stati Uniti.</li>
                        <li>Dovete essere studenti nel vostro paese d'origine e essere in grado di fornire certificati di voti e valutazioni dei vostri insegnanti.</li>
                        <li>Dovete dimostrare un livello di competenza sufficiente in inglese per seguire le lezioni in questa lingua. Ciò può essere dimostrato attraverso il superamento di un test di lingua, come il TOEFL o l'IELTS.</li>
                        <li>Deve esistere il desiderio di scoprire un nuovo paese e la sua cultura. Dovete essere motivati ed entusiasti all'idea di partire lontano da casa per vivere una nuova avventura da soli.</li>
                        <li>Dovete essere in buona salute fisica e mentale e essere in grado di viaggiare all'estero senza accompagnamento.</li>
                        <li>Dovete avere l'approvazione della vostra famiglia e della vostra scuola di origine per partecipare a un programma di scambio negli Stati Uniti.</li>
                    </ul>
                    <p>Altri criteri possono essere aggiunti a seconda della scuola del ragazzo.</p>
                    <p>Se non soddisfate al 100% tutti i criteri, non esitate a contattarci per trovare insieme opzioni o programmi adatti a voi.</p>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__sei">
        <div>
            <p><strong>Il costo include:</strong></p>
            <ul>
                <li>Colloquio individuale.</li>
                <li><strong>Biglietto aereo andata e ritorno per gli Stati Uniti e l'Italia!</strong></li>
                <li>Assegnazione di una famiglia ospitante americana con <strong>tre pasti al giorno inclusi.</strong></li>
                <li>Alloggio presso la famiglia ospitante.</li>
                <li><strong>Assicurazione medica internazionale.</strong></li>
                <li>Procedure amministrative presso la scuola superiore negli Stati Uniti e presso la famiglia ospitante.</li>
                <li>Assistenza e consulenza durante la preparazione del soggiorno.</li>
                <li>Emissione del modulo DS-2019, I-20 per ottenere il visto F-1 o J-1 a seconda del programma scelto.</li>
                <li>Assistenza per compilare la documentazione del visto.</li>
                <li>Riunione informativa per candidati e genitori prima della partenza.</li>
                <li>Contatti regolari con un corrispondente locale.</li>
                <li>Assistenza e supporto per tutta la durata del programma.</li>
                <li>Numero di emergenza disponibile 24 ore su 24, 7 giorni su 7.</li>
            </ul>
            <p><strong>Il costo totale non include:</strong></p>
            <ul>
                <li>Spese legate all'ottenimento del visto.</li>
                <li>Tasca (uscite/escursioni, materiale scolastico, trasporti...).</li>
                <li>Spese legate all'ottenimento del TOEFL, se necessario.</li>
                <li>Spese di traduzione dei certificati scolastici italiani da parte di un traduttore autorizzato.</li>
            </ul>
        </div>
    </div>
    <div class="image__fondo">
        <h1 class="h1__medium">Iscriviti adesso ai nostri programmi per la scuola superiore</h1>
        <div class="see__more__big" routerLink="/iscrizione">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff00" height="54" viewBox="0 -960 960 960" width="54"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
            <h2>Iscriviti adesso</h2>
        </div>
    </div>
</div>