<div class="container__superiore">
    <div id="sezione__uno">
        <div></div>
        <h1 class="h1__medium" style="color: #ffffff !important;">Scuole superiori</h1>
    </div>
    <div id="sezione__container">
        <div id="sezione__due" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__due__title"></h1>
                    <h1 id="sezione__due__title__pre">I nostri programmi</h1>
                </div>
                <div>
                    <p>
                        Offriamo tre programmi distinti per inserirsi in un liceo negli Stati Uniti, ognuno dei quali include un'esperienza in una famiglia ospitante. Vi invitiamo a leggere attentamente i dettagli di ogni programma per determinare quello che meglio si adatta
                        alle vostre esigenze.
                    </p>
                    <ul>
                        <li>
                            <p>
                                <strong>Programma Value:</strong> Questo programma offre un'esperienza in un liceo privato negli Stati Uniti, differenziandosi dal primo programma. Rimarrete comunque immersi in una famiglia ospitante, per una durata di
                                cinque o dieci mesi. Le famiglie ospitanti selezionate per questo programma hanno generalmente maggiori risorse finanziarie, e sebbene la destinazione sia casuale, questo programma offre una varietà di attività extra proposte
                                dal liceo privato, in particolare con un programma scolastico più avanzato e migliori strutture per il calcio, il nuoto, il calcio, il basket, ecc.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Programma Choice:</strong> Questo programma vi permette di scegliere la vostra destinazione negli Stati Uniti! Partite per la destinazione dei vostri sogni: la Florida, New York, la California e molte altre. E vivete
                                un'esperienza in un liceo privato con una famiglia ospitante americana per una durata di cinque o dieci mesi. Le attività extra proposte dal liceo privato sono incluse in questo programma. Il costo varia in base alla destinazione
                                scelta. Consigliamo vivamente questo programma.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Programma ASE:</strong> Questo programma vi offre la possibilità di inserirvi in un liceo negli Stati Uniti per un periodo di breve durata, da due a cinque mesi. È il nostro programma più conveniente, ma è opportuno
                                notare che la durata limitata dell'esperienza significa che alcune opzioni e attività possono essere limitate. Tuttavia, questo programma offre un'ottima opportunità per scoprire la vita di uno studente americano per un
                                breve periodo prima di eventualmente fare un anno completo negli USA.</p>
                        </li>
                    </ul>
                    <p><strong>Se desiderate ulteriori informazioni</strong> su questo programma, contattaci via e-mail all'indirizzo seguente, authenticstudent.it@gmail.com, o con un messaggio wathsapp o chiamandoci al +39 3333854818.</p>

                </div>
            </div>
        </div>
        <div id="sezione__tre" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__tre__title__pre">Le nostre scuole negli USA</h1>
                </div>
                <div>
                    <p>
                        Attualmente, Authentic Student dispone di oltre 200 licei pubblici e privati americani in tutto il territorio degli Stati Uniti. Abbiamo fatto attenzione a selezionare i migliori licei affinché i giovani studenti italiani possano godere appieno di ciò
                        che i nostri programmi hanno da offrire.
                    </p>
                    <p>Offriamo numerose destinazioni popolari, tra cui <strong>Chicago, Miami, Los Angeles, New York, la California, la Florida</strong> e molte altre.</p>
                    <img src="../../../assets/immagini/Berry-College-in-Rome-Georgia.jpg">

                </div>
            </div>
        </div>
        <div id="sezione__quattro" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__quattro__title__pre">Gli elementi distintivi di questo programma</h1>
                </div>
                <div>
                    <p>
                        Gli elementi distintivi di questi programmi:
                    </p>
                    <ul>
                        <li>
                            <p>
                                <strong>Diventare bilingue in inglese:</strong> Vivere in un ambiente linguistico inglese ed essere esposti all'inglese per l'intera giornata è un modo molto efficace per diventare bilingue in inglese.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Esperienza culturale:</strong> Come studente di scambio, avrai la possibilità di vivere con una famiglia ospitante americana e scoprire la cultura e le tradizioni locali. Avrai anche l'opportunità di incontrare altri
                                studenti americani e stranieri, immergendoti così nella vita studentesca americana.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Sviluppo personale:</strong> Vivere in un ambiente straniero e adattarsi a una nuova cultura può rappresentare una sfida stimolante, ma è anche un'ottima opportunità per sviluppare nuove competenze sociali e interculturali,
                                rafforzare la fiducia in se stessi, acquisire indipendenza e maturità.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Opportunità accademiche:</strong> Le istituzioni educative americane sono spesso molto rinomate, offrendo programmi accademici di qualità e risorse di ricerca avanzate. Come studente di scambio, avrai l'opportunità
                                di seguire corsi e accedere a tali risorse.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p><strong>Espansione degli orizzonti:</strong> Vivere in un ambiente straniero può aiutarti a vedere il mondo da una prospettiva nuova e sviluppare una visione più ampia e aperta delle questioni globali. Avrai anche l'opportunità
                                di viaggiare e scoprire diverse regioni degli Stati Uniti.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>