<div class="privacy__container">
    <div class="privacy">
        <h1>Informativa sulla privacy</h1>
        <p>
            Authentic Student è un'azienda fondata nel 2024 da Davide Comai e Matteo Chiti, due studenti italiani di Finance a Chicago con oltre tre anni di esperienza negli Stati Uniti. Convinti che viaggiare e studiare all'estero sia la migliore esperienza che
            gli sia capitata, si impegnano ad aiutare gli studenti offrendo loro assistenza amministrativa per consentire di studiare presso diverse università e destinazioni di loro scelta.
        </p>
        <p>
            Responsabile del trattamento dati: AUTHENTIC STUDENT DI DAVIDE COMAI: 02735740223
        </p>
        <p>
            <a (click)="link__3()" style="cursor: pointer;">Email: authenticstudent.it@gmail.com </a>
        </p>
        <h3>Protezione dei tuoi dati personali</h3>
        <p>
            Presso Authentic Student, attribuiamo grande importanza alla protezione della tua privacy e alla difesa dei tuoi diritti in materia di dati personali.
        </p>
        <p>
            In qualità di responsabili del trattamento, potremmo raccogliere e trattare dati personali che vi riguardano nell'ambito dell'utilizzo dei nostri servizi, in particolare quelli accessibili sul nostro sito web.
        </p>
        <p>
            Pertanto, vi garantiamo in ogni momento l'accesso ai tuoi dati personali, la possibilità di modificarli e di richiederne la rimozione dal nostro database. Vogliamo assicurarvi che le tue informazioni personali non saranno mai condivise a fini di marketing
            con aziende o organizzazioni esterne.
        </p>
        <p>
            Per garantire il rispetto di queste regole, Authentic Student implementa procedure interne adeguate per sensibilizzare i propri dipendenti e garantirne l'applicazione all'interno della nostra organizzazione.
        </p>
        <h3>Dati personali che raccogliamo</h3>
        <p>
            Durante la tua iscrizione a un soggiorno con Authentic Student, potrebbe essere richiesto di fornirci alcune informazioni personali, tra cui il tuo indirizzo postale, l'indirizzo e-mail, il numero di telefono e la data di nascita.
        </p>
        <p>
            Durante la navigazione sul nostro sito web, potremmo raccogliere i dati raccolti durante la tua navigazione sul nostro sito web e le informazioni relative all'accesso ai nostri servizi digitali, come il sistema operativo e le caratteristiche del browser
            utilizzato.
        </p>
        <p>
            Quando partite per un’esperienza con noi, potremmo raccogliere le informazioni dei passeggeri e i dettagli del passaporto, nonché i dettagli dell'assicurazione. Teniamo conto delle informazioni mediche rilevanti, delle richieste speciali, delle preferenze
            dietetiche o delle disabilità e delle informazioni a carattere religioso. Registriamo anche le informazioni relative ai tuoi acquisti e metodi di pagamento, nonché il tuo comportamento di navigazione sul nostro sito web, inclusa l'ora in cui
            fai clic su uno dei nostri annunci. Raccogliamo dati su come accedi ai nostri servizi digitali, inclusi i dettagli del tuo sistema operativo e del tuo browser.
        </p>
    </div>
</div>