#loading__page {
    position: fixed;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: ".""."".";
    height: 100vh;
    z-index: 10000;
    width: 100%;
}

#main__page {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    animation: cardanimation 1.5s;
}

@keyframes cardanimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.lines__sup div {
    flex-shrink: 0;
    border-radius: 0px 0px 20px 20px;
    animation: cardanimation 1.5s;
}

#loading__page a {
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: center center;
    color: white !important;
    font-weight: 800;
    font-size: .8rem;
}

.lines__inf div {
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    animation: cardanimation 1.5s;
}

.logo img {
    height: 100px;
}

.lines__sup {
    height: 271px;
    display: grid;
    grid-template-columns: 1fr 17px 1fr 17px 1fr 17px 1fr 17px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". l1 . l2 . l3 . l4 .";
}

.lines__inf {
    height: 321px;
    display: grid;
    grid-template-columns: 1fr 17px 1fr 17px 1fr 17px 1fr 17px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". l1_d . l2_d . l3_d . l4_d .";
}

.line__1 {
    width: 17px;
    height: 200px;
    background-image: linear-gradient(#b3194200 10%, #B31942 90%);
    grid-area: l1;
}

.line__2 {
    width: 17px;
    height: 219px;
    background-image: linear-gradient(#0a316100 10%, #08466E 90%);
    grid-area: l2;
}

.line__3 {
    width: 17px;
    height: 271px;
    background-image: linear-gradient(#b3194200 10%, #B31942 90%);
    grid-area: l3;
}

.line__4 {
    width: 17px;
    height: 202px;
    background-image: linear-gradient(#0a316100 10%, #08466E 90%);
    grid-area: l4;
}

.line__1__down {
    width: 17px;
    height: 321px;
    background-image: linear-gradient(to top, #b3194200 10%, #B31942 90%);
    grid-area: l1_d;
}

.line__2__down {
    width: 17px;
    height: 237px;
    margin-top: 84px;
    background-image: linear-gradient(to top, #0a316100 10%, #08466E 90%);
    grid-area: l2_d;
}

.line__3__down {
    width: 17px;
    height: 200px;
    margin-top: 121px;
    background-image: linear-gradient(to top, #b3194200 10%, #B31942 90%);
    grid-area: l3_d;
}

.line__4__down {
    width: 17px;
    height: 286px;
    margin-top: 35px;
    background-image: linear-gradient(to top, #0a316100 10%, #08466E 90%);
    grid-area: l4_d;
}

@keyframes cardanimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* HOME PAGE - TOP */

.superiore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #ffffff79 1%, #ffffff 99%), url('../../../assets/immagini/IM.jpg');
    z-index: 99;
    position: sticky;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 0 0 0 0;
}

.superiore h1 {
    margin: none;
}

.su__left__1 {
    margin-top: 200px;
    z-index: 2;
    animation: su__left__1_animation 2.5s;
}

@keyframes su__left__1_animation {
    0% {
        margin-top: 0px;
    }
    100% {}
}

.su__left__2 {
    /* margin-top: 400px; */
    position: sticky;
    z-index: 99;
    animation: cardanimation__2 2.5s;
}

.su__left__3 {
    position: sticky;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 99;
    margin-top: 150px;
    animation: cardanimation__2 2.5s;
}

@keyframes cardanimation__2 {
    0% {
        opacity: 0;
        margin-top: 120px;
    }
    100% {
        opacity: 1;
    }
}

.scroll {
    width: 60px;
    height: 60px;
    border: 3px solid #B31942;
    border-radius: 50%;
    position: relative;
    animation: down 2s infinite;
    -webkit-animation: down 2s infinite;
}

.scroll::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 19px;
    width: 18px;
    height: 18px;
    border-left: 3px solid #B31942;
    border-bottom: 3px solid #B31942;
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

.scrorri__line {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1000;
}

.rotate-text {
    transform: rotate(-90deg);
    white-space: nowrap;
    padding: 10px;
    background-color: #B31942;
    color: #ffffff !important;
}

.su__right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.su__right__anno {
    position: absolute;
    transform: rotate(-20deg);
    margin: -30px 0px 0px -40px;
}

.su__right__isadesso {
    z-index: 99;
    text-align: center;
    position: relative;
}


/* SEZIONE 2 */

.sezione__uno__sezione__immagini .immagine__uno {
    width: 338px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 200px;
    background: url("../../../assets/immagini/grad-guide-overview-hs-grad-ceremony-default-section-2.jpg");
    background-position: center;
    background-size: cover;
    z-index: 0;
    margin-bottom: -2cm;
    position: sticky;
}

.sezione__uno__sezione__immagini .immagine__due {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 200px;
    background: url("../../../assets/immagini/new-york-city-evening-NYCTG0221-52492d6ccab44f328a1c89f41ac02aea.jpg");
    background-position: center;
    background-size: cover;
    position: sticky;
    margin-left: 1cm;
    z-index: 1;
}

.sezione__uno__sezione__immagini .immagine__tre {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 200px;
    background: url("../../../assets/immagini/learning.jpg");
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: sticky;
    margin-left: -5cm;
    margin-top: -3cm;
}

.sezione__uno {
    padding: 200px 300px 200px 300px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
    position: sticky;
    z-index: 99;
}

#sezione__due {
    padding: 0px 300px 200px 300px;
}

.centro {
    position: sticky;
    z-index: 99;
}

#sezione__due__interno__uno {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    padding-top: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sezione__due__interno__uno ul li {
    margin: 50px 0 50px 0;
    color: #08456e00;
    font-weight: 800 !important;
    font-size: 1.2rem !important;
    cursor: pointer;
}

.sezione__uno .sezione__uno__descrizione {
    width: 450px;
}

.sezione__uno .sezione__uno__descrizione p {
    width: 400px;
    margin-bottom: 30px;
}

.sezione__due__interno__due section {
    height: fit-content;
    display: flex;
    padding: 100px 0px 100px 200px;
}

.sezione__due__interno__due h1 {
    margin: 0;
}

.sezione__due__interno__due__sezione__due {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 99;
}

.sezione__due__interno__due__sezione__due {
    position: sticky;
    z-index: 100;
}

.sezione__due__interno__due__sezione__uno div {
    width: 450px;
    height: 600px;
    margin-right: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.see__more {
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
    border-radius: 50px;
    border: 3px solid #b319427c;
    cursor: pointer;
}

.see__more svg {
    margin-top: 4px;
    margin-left: 4px;
    position: absolute;
    z-index: 1;
    fill: #ffffff00;
}

.see__more:hover svg {
    fill: #ffffff;
}

.see__more:hover {
    background-color: #b31942;
    border: 3px solid #b31942;
}

.see__more:hover h4 {
    padding-left: 70px;
}

.see__more h4 {
    position: sticky;
    z-index: 99;
    width: 4cm;
    padding-left: 15px;
    margin: 15px 15px 15px 0;
}

#sezione__tre {
    position: sticky;
    z-index: 99;
    padding-bottom: 100px;
    background-color: white;
}

.sezione__tre__line {
    width: 100%;
    height: 3px;
    background: #B31942;
    margin-bottom: -42px;
}

.sezione__tre__sezione__uno {
    margin: 0 400px 100px 350px;
    width: 22cm;
}

.sezione__tre__sezione__due {
    display: flex;
    margin: 0 300px 0 300px;
}

.sezione__tre__sezione__due div {
    margin: 0 50px 0 50px;
}

.sezione__tre__sezione__due section {
    width: fit-content;
    padding: 0 8px 0 8px;
    background-color: #ffffff;
}

.see__more__big {
    height: 80px;
    width: 80px;
    background-color: #ffffff00;
    border-radius: 80px;
    border: 3px solid #b319427c;
    cursor: pointer;
}

.see__more__big svg {
    margin-top: 14px;
    margin-left: 14px;
    position: absolute;
    z-index: 1;
}

.see__more__big:hover {
    background-color: #b31942;
    border: 3px solid #b31942;
}

.see__more__big:hover svg {
    fill: #ffffff;
}

.see__more__big:hover h2 {
    padding-left: 90px;
}

.see__more__big h2 {
    position: sticky;
    z-index: 99;
    width: 8cm;
    padding-left: 25px;
    margin: 25px 25px 25px 0;
}

.see__more__big {
    height: 80px !important;
    width: 80px !important;
    border-radius: 80px;
    background-color: #b31942;
    border: 3px solid #b31942;
    cursor: pointer;
}

.see__more__big svg {
    margin-top: 14px;
    margin-left: 14px;
    position: absolute;
    z-index: 1;
}

.see__more__big:hover {
    background-color: #b31942;
    border: 3px solid #b31942;
}

.see__more__big:hover svg {
    fill: #ffffff;
}

.see__more__big:hover h2 {
    padding-left: 90px;
}

.see__more__big h2 {
    position: sticky;
    z-index: 99;
    width: 8cm;
    padding-left: 25px;
    margin: 25px 25px 25px 0;
}


/* Your existing CSS */

@media only screen and (max-width: 1700px) {
    .sezione__uno {
        padding: 200px 200px 300px 300px;
    }
    #sezione__due {
        padding: 0px 200px 300px 300px;
    }
    .sezione__tre__sezione__due {
        margin: 0 100px 0 100px;
    }
    .sezione__tre__sezione__uno {
        margin: 0 150px 100px 150px;
        width: 22cm;
    }
    .sezione__due__interno__due section {
        padding: 100px 0px 100px 0;
    }
    .su__left__3 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1500px) {
    .sezione__uno {
        padding: 200px 50px 300px 150px;
    }
    .sezione__due__interno__due section {
        padding: 200px 0px 200px 0;
    }
}

@media only screen and (max-width: 1300px) {
    .sezione__uno {
        padding: 200px 50px 300px 150px;
    }
    #sezione__due {
        padding: 0px 50px 150px 150px;
    }
    .sezione__tre__sezione__due {
        margin: 0 50px 0 100px;
    }
    .sezione__tre__sezione__uno {
        margin: 0 150px 100px 150px;
        width: 22cm;
    }
    .sezione__due__interno__due__sezione__uno div {
        width: 400px;
        height: 600px;
        margin-right: 80px;
    }
}

@media only screen and (max-width: 1100px) {
    .sezione__tre__sezione__uno {
        margin: 0 50px 100px 50px;
        width: 22cm;
    }
    .sezione__due__interno__due__sezione__uno div {
        width: 400px;
        height: 600px;
        margin-right: 40px;
    }
    .sezione__due__interno__due__sezione__uno div {
        width: 350px;
        height: 500px;
    }
    .sezione__uno__sezione__immagini .immagine__uno {
        width: 200px;
        height: 200px;
        border-radius: 250px;
        margin-bottom: 0cm;
    }
    .sezione__uno__sezione__immagini .immagine__due {
        width: 150px;
        height: 150px;
        border-radius: 200px;
        margin-left: 1cm;
    }
    .sezione__uno__sezione__immagini .immagine__tre {
        width: 200px;
        height: 200px;
        border-radius: 280px;
        margin-left: -2.5cm;
        margin-top: -1cm;
    }
    .sezione__tre__sezione__due {
        display: block;
        margin: 0 100px 0 100px;
    }
}


/* Responsive styles for smaller screens */

@media only screen and (max-width: 800px) {
    #sezione__due__interno__uno {
        display: none;
    }
    .sezione__uno {
        padding: 150px 20px 150px 20px;
    }
    #sezione__due {
        padding: 0px 20px 200px 20px;
    }
    .sezione__tre__sezione__due {
        margin: 0 20px;
    }
    .sezione__tre__sezione__uno {
        margin: 0 20px 50px 20px;
        width: auto;
    }
    .sezione__due__interno__due section {
        padding: 50px 0px 50px 0;
    }
    .sezione__uno__sezione__immagini {
        margin-left: -200px;
        opacity: .2;
        position: sticky;
        z-index: -1;
    }
    .su__left__1 {
        margin-top: 80px;
    }
    .su__left__3 {
        margin-top: 80px;
    }
    .superiore {
        display: flex;
        justify-content: center;
        align-items: normal;
        text-align: left;
        padding: 0 0 0 8vw;
    }
    .su__left__3 {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .sezione__due__interno__due section {
        display: block;
    }
    .sezione__due__interno__due__sezione__uno div {
        width: 450px;
        height: 250px;
        margin-right: 0;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 500px) {
    .sezione__due__interno__due__sezione__uno div {
        width: 300px;
        height: 200px;
    }
    .sezione__due__interno__due__sezione__due {
        width: 300px;
    }
    .sezione__uno .sezione__uno__descrizione {
        width: 300px;
    }
    .sezione__uno .sezione__uno__descrizione p {
        width: 300px !important;
    }
    .sezione__tre__sezione__due section {
        padding: 0 0 0 0;
    }
    .su__left__3 {
        margin-top: 40px;
    }
    .su__left__1 {
        width: 300px;
    }
    .su__left__2 {
        width: 201px;
    }
}