<div class="privacy__container">
    <div class="privacy">
        <h1>Informativa sui rimborsi</h1>
        <h3>1. GARANZIE DI ANNULLAMENTO</h3>
        <p>In caso di annullamento del soggiorno da parte del partecipante per una delle ragioni elencate di seguito, le somme già versate al momento dell'annullamento saranno rimborsate integralmente. Tuttavia, queste garanzie di annullamento sono strettamente
            legate alle situazioni descritte e devono essere supportate da un documento ufficiale con data certa, come un certificato medico o un'attestazione ufficiale. È importante sottolineare che questi documenti dovranno essere forniti sistematicamente.
            Le situazioni coperte includono le seguenti circostanze:</p>
        <p>Per qualsiasi epidemia sconosciuta al momento dell'iscrizione (a condizione che questa epidemia sia sconosciuta al momento dell'iscrizione*):</p>
        <ul>
            <li>Se il Ministero degli Affari Esteri del tuo paese di residenza o l'Organizzazione Mondiale della Sanità hanno emesso restrizioni di viaggio o se le autorità locali negano l'ingresso nel territorio. I soggiorni prenotati prima dell'annuncio
                di tali restrizioni saranno valutati caso per caso. Questa regola non si applica in caso di pandemia.</li>
        </ul>
        <p>Altri rischi coperti includono le situazioni in cui il partecipante o un membro della sua famiglia impedisce il soggiorno:</p>
        <ul>
            <li>Malattia, incidente, ospedalizzazione che impedisce la partenza del partecipante (certificato medico richiesto).</li>
            <li>Morte di un parente stretto (nonno, genitore, fratello, sorella).</li>
            <li>Convocazione medica urgente</li>
        </ul>
        <p>
            Tuttavia, è importante notare che, a causa della diffusione di certificati di comodo, in particolare per ragioni "psicologiche", l'annullamento sarà preso in considerazione solo se il partecipante può giustificare almeno 3 notti di ospedalizzazione.
        </p>
        <p>
            A causa di circostanze esterne indipendenti dalla sfera familiare, le seguenti situazioni possono giustificare l'annullamento di un soggiorno:
        </p>
        <ul>
            <li>
                Furto di documenti d'identità nelle 48 ore precedenti alla partenza, a condizione di presentare una denuncia.
            </li>
            <li>In caso di emergenza epidemica o di rischio sanitario significativo nella o nelle città di destinazione, mettendo fortemente a rischio la salute dell'Assicurato (esclusa la pandemia).</li>
            <li> In caso di restrizioni di viaggio emesse dal Ministero degli Affari Esteri del paese di residenza dell'assicurato o dall'OMS, o se le autorità locali negano l'ingresso nel territorio, a condizione che il soggiorno sia stato prenotato prima
                dell'annuncio delle restrizioni dell'OMS e/o del Ministero degli Affari Esteri (esclusa la pandemia).</li>
        </ul>
        <h3>1. GARANZIE DI ANNULLAMENTO</h3>
        <p>Prima della partenza, Authentic Student non sarà ritenuta responsabile se lo studente non riesce a ottenere gli esami richiesti. Allo stesso modo, l'azienda non sarà ritenuta responsabile se nessuna università accetta la candidatura dello studente.
            Infatti, Authentic Student non può garantire il successo della candidatura dello studente in quanto dipende da criteri esterni alla nostra azienda. Nel caso in cui lo studente decida di rinunciare al suo progetto dopo la firma del contratto,
            ha il diritto di risolvere il contratto notificando Authentic Student per lettera raccomandata con avviso di ricevimento. Tuttavia, se le procedure per la compilazione della documentazione sono già iniziate, rimane dovuta la prima parte della
            remunerazione del Fornitore, indipendentemente dallo stato di avanzamento.
        </p>
        <p>In caso di accettazione della candidatura da parte di un'università, ma lo studente decide di rinunciare al suo posto, è dovuta l'intera remunerazione. Pertanto, lo studente si impegna a pagare la somma di 1.000€ simultaneamente all'invio della
            sua lettera di disdetta.</p>
        <p>Dopo la partenza</p>
        <p>a) Il partecipante che:</p>
        <p>I partecipanti che non si presentano alla partenza, che non sono in possesso dei documenti d'identità richiesti, che interpretano erroneamente le istruzioni date tempestivamente o che rifiutano di conformarsi ai requisiti sanitari delle compagnie
            aeree e/o dell'università, non potranno pretendere alcun rimborso. Inoltre, qualsiasi ritorno anticipato per motivi personali, un congedo o un respingimento alla frontiera comporterà per il partecipante o i genitori spese legali, spese di
            viaggio, assistenza legale e le spese di accompagnamento all'aeroporto più vicino.</p>
        <p>Si prega di notare che Authentic Student non sarà in nessun caso e in nessuna circostanza responsabile del comportamento dello studente, né di qualsiasi colpa o atto, anche non colpevole, dello studente nel contesto delle sue attività di studente
            negli Stati Uniti, né della violazione dei suoi obblighi di studente in loco.</p>

        <p>b) Authentic Student declina ogni responsabilità in caso di modifiche al programma causate da eventi imprevisti come catastrofi naturali, condizioni meteorologiche estreme, scioperi o cambiamenti di orario imposti dalle compagnie di trasporto.</p>
        <p>Annullamento da parte di Authentic Student</p>
        <p>Se un soggiorno deve essere annullato da Authentic Student, al partecipante verrà comunicato almeno un mese prima della data di partenza e gli verrà proposta un'alternativa di sostituzione. Tuttavia, il partecipante conserva il diritto di scegliere
            tra accettare le modifiche o rescindere senza spese e ottenere un rimborso completo delle spese di dossier.</p>
    </div>
</div>