.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.267);
}

.navbar div {
    width: 8cm;
}

.logo img {
    height: 100px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu .active {
    text-decoration: underline;
}

.menu {
    margin-left: 10vw;
    display: block;
}

.menu__due {
    display: none;
}

.nav__contatti {
    margin-right: 10vw;
}

#sezione__quattro {
    min-height: 100vh;
    z-index: 99;
    position: sticky;
}

.cd__interno__secondario svg:hover path {
    fill: #08456ea6 !important;
}

.sezione__quattro__up svg:hover path {
    fill: #b31942b7 !important;
}

.sezione__quattro__up {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer-logo footer-columns-one footer-columns-two";
    padding: 200px 300px 120px 300px;
}

.sezione__quattro__up h1 {
    margin: 0;
}

.footer-columns div {
    margin: 10px 0 20px 0;
}

.footer-logo {
    display: flex;
    align-items: center;
    grid-area: footer-logo;
}

.footer-columns-one {
    grid-area: footer-columns-one;
}

.footer-columns-two {
    grid-area: footer-columns-two;
}

.footer-logo-sec-one {
    display: block;
}

.footer-logo-sec-two {
    display: none;
}

.footer-logo svg {
    height: 48px !important;
    width: 48px !important;
    margin: 20px 30px 20px 0px;
    cursor: pointer
}

.divOcti {
    display: grid;
    width: 100%;
    height: 19px;
    align-items: center;
    grid-template-columns: 300px 200px 4fr;
    padding-bottom: 80px;
}

.dO_interno {
    width: 100%;
    background-color: #08466E;
    /*  background-color: #08466E; */
    height: 2px;
    flex-shrink: 0;
    transition-duration: .2s;
}

.divOcti h4 {
    font-family: "Montserrat, italic" !important;
}

.cd-nav-trigger-inside_profile {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    margin: 2vw 10vw 0vw 10vw;
}

.cd-navigation-wrapper {
    margin: 0 0 0vw 10vw;
}

.cd-navigation-wrapper div {
    margin-bottom: 40px;
}

.cd-nav {
    overflow-y: scroll;
    /* overflow-y: scroll; */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.cd-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center items horizontally */
    margin-top: -40px;
}

.cd-navigation-wrapper h1 {
    cursor: pointer;
}

.cd-navigation-wrapper h1:hover {
    color: #B31942 !important;
}

.cd-nav-container img {
    width: 600px;
    opacity: 0.7;
}

.cd__interno__secondario div {
    position: absolute;
    z-index: 1001;
    margin-left: -60px
}


/* Your existing CSS */

@media only screen and (max-width: 1600px) {
    .cd-nav-container {
        margin-top: -40px;
    }
    .cd-navigation-wrapper {
        margin: 0 -80px 0vw 8vw;
    }
    .sezione__quattro__up {
        padding: 200px 100px 120px 100px;
    }
    .divOcti {
        grid-template-columns: 100px 200px 4fr;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 10px;
    }
    .menu {
        margin-left: 5vw;
    }
    .nav__contatti {
        margin-right: 5vw;
    }
    .sezione__quattro__up {
        padding: 150px 50px 80px 50px;
        grid-template-columns: 1fr;
    }
    .sezione__quattro__up h1 {
        margin-bottom: 20px;
    }
    .footer-columns div {
        margin: 10px 0 10px 0;
    }
}

@media only screen and (max-width: 800px) {
    .footer-logo svg {
        height: 24px !important;
        width: 24px !important;
    }
    .sezione__quattro__up {
        padding: 120px 20px 20px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "footer-logo footer-logo" "footer-columns-one footer-columns-two";
    }
    .footer-logo-sec-one {
        display: none;
    }
    .footer-logo-sec-two {
        display: block;
    }
    .nav__contatti {
        display: none;
    }
    .navbar div {
        width: fit-content;
    }
    .navbar {
        padding: 20px 0 20px 0;
        background-color: rgb(255, 255, 255);
    }
    .logo img {
        margin-left: 20px;
        height: 60px;
    }
    .menu {
        display: none;
    }
    .menu__due {
        display: block;
        margin-right: 30px;
    }
}