.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar div {
    width: 8cm;
}

.logo img {
    height: 100px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu .active {
    text-decoration: underline;
}

.menu {
    margin-left: 10vw;
}

.nav__contatti {
    margin-right: 10vw;
}

#sezione__quattro {
    padding-top: 120px;
    background-color: #08466E;
}

#sezione__quattro * {
    color: white !important;
}

.sezione__quattro__up {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    margin: 0 300px 120px 300px;
}

@media only screen and (max-width: 1700px) {
    .sezione__quattro__up {
        margin: 0 100px 120px 100px;
    }
}

.sezione__quattro__up h1 {
    margin: 0;
}

.footer-columns div {
    margin: 10px 0 20px 0;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.divOcti {
    display: grid;
    width: 100%;
    height: 19px;
    align-items: center;
    grid-template-columns: 300px 200px 4fr;
    padding-bottom: 80px;
}

.dO_interno {
    width: 100%;
    background-color: #ffffff;
    /*  background-color: #08466E; */
    height: 2px;
    flex-shrink: 0;
    transition-duration: .2s;
}

.divOcti h4 {
    font-family: "Montserrat, italic" !important;
}

.cd-nav-trigger-inside_profile {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    margin: 2vw 10vw 0vw 10vw;
}

.cd-navigation-wrapper {
    margin: 0 0 0vw 10vw;
}

.cd-navigation-wrapper div {
    margin-bottom: 40px;
}

.cd-nav {
    /* overflow-y: scroll; */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.cd-nav-container {
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
    margin-top: -40px;
}

.cd-navigation-wrapper h1 {
    cursor: pointer;
}

.cd-navigation-wrapper h1:hover {
    color: #B31942 !important;
}

.cd-nav-container img {
    width: 600px;
    opacity: 0.7;
}