<div class="container__esterno__generale" style="display: none;">
    <div id="sezione__uno">
        <div></div>
        <h1 class="h1__medium" style="color: #ffffff !important;">Community College </h1>
    </div>
    <div id="sezione__container">
        <div id="sezione__due" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__due__title"></h1>
                    <h1 id="sezione__due__title__pre">I nostri programmi</h1>
                </div>
                <div>
                    <p>
                        Siamo entusiasti di presentarvi la nostra formula Community College, un'alternativa <strong>più economica rispetto all'università</strong> e efficace per ottenere un diploma di livello bac +2 in soli due anni, immergendosi contemporaneamente
                        in un'esperienza universitaria americana. Pur essendo meno noti, i Community College offrono corsi equivalenti a quelli delle università tradizionali e sono accessibili subito dopo aver ottenuto il diploma di maturità.
                    </p>
                    <p>Dopo aver conseguito il diploma al Community College, avrete la possibilità di trasferire i vostri crediti presso un'università per ottenere un Bachelor o iniziare a lavorare nel settore correlato ai vostri studi. Questa opzione offre
                        prospettive future interessanti per gli studenti attenti al loro budget e in cerca di una formazione di qualità negli Stati Uniti. Da Authentic Student, siamo lieti di offrire questa formula innovativa ai nostri studenti per fornire
                        loro nuove opportunità di successo accademico e professionale.</p>

                </div>
            </div>
        </div>
        <div id="sezione__tre" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__tre__title__pre">I nostri Community College</h1>
                </div>
                <div>
                    <p>
                        I nostri Community College sono presenti in molti Stati degli Stati Uniti, tra cui:
                    </p>
                    <p><strong>California, Florida, Alabama, Illinois, Louisiana, New Jersey, Kansas, Texas, South Carolina,</strong> e molte altri. Ogni Community College è unico a causa della sua posizione, del suo programma accademico e delle sue opportunità
                        di carriera.</p>
                    <p>Studiare in un Community College è un'opportunità per gli studenti di esplorare una nuova città, scoprire una cultura e uno stile di vita diversi, ottenendo nel contempo un diploma di livello bac +2 americano.</p>
                    <img src="../../../assets/immagini/CPMQIVWIIEI6TGNIIBWI6S7HAY.jpg">

                </div>
            </div>
        </div>
        <div id="sezione__quattro" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__quattro__title__pre">I vantaggi di un Community College </h1>
                </div>
                <div>
                    <p>
                        <strong>Community College negli Stati Uniti offrono numerosi vantaggi:</strong>
                    </p>
                    <ul>
                        <li>Diventare bilingui in inglese, scoprire una nuova cultura, diventare più autonomi, immergersi nel sistema scolastico americano.</li>
                        <li>Arricchire il proprio curriculum per distinguersi nel mondo professionale.</li>
                        <li>Scegliere di trascorrere un intero anno scolastico, ovvero 10 mesi (da agosto/settembre a maggio), O solo un semestre (da 4 a 5 mesi).</li>
                        <li>Scegliere le lezioni in base alla propria area di interesse, che può spaziare dalla finanza, all'ospitalità, all'immobiliare, al business e molto altro. Inoltre, organizzare il proprio orario come si desidera.</li>
                        <li>Cogliere l'opportunità di iscriversi a club in base alle proprie passioni: club di calcio, finanza, arte, musica e altro ancora.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__cinque">
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Corsi</h1>
            </div>
            <div>
                <p>
                    I corsi offerti nei Community College sono identici a quelli svolti nel primo e secondo anno di Bachelor presso un'università americana. Ecco i diversi vantaggi e modalità:
                </p>
                <div>
                    <ul>
                        <li>Possibilità di entrare in questo programma subito dopo aver ottenuto il diploma di maturità e ottenere il certificato dopo aver completato 60 crediti.</li>
                        <li>Scelta di prendere tra 12 e 22 crediti per semestre (con costi aggiuntivi per ogni credito aggiuntivo).</li>
                        <li>Gli studenti organizzano il proprio orario come desiderano, scegliendo gli orari dei corsi. In questo modo, possono dedicare il loro tempo libero a attività extracurriculari (club: sport, teatro, musica, ecc.).</li>
                        <li>I professori sono vicini agli studenti e sono molto attenti; privilegiano i lavori di gruppo e le presentazioni orali.</li>
                        <li>Formazione interamente americana: sarete integrati negli stessi Community College degli studenti americani e parteciperete agli stessi corsi.</li>
                    </ul>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Alloggio</h1>
            </div>
            <div>
                <p>
                    Scegliendo il programma "Community College", verrai alloggiato direttamente nel campus dell'università. Sono disponibili diverse opzioni:
                </p>
                <div>
                    <ol>
                        <li>Condividere una stanza in un dormitorio con altri studenti. Questa opzione facilita l'integrazione, mettendoti in contatto con persone provenienti da diverse parti del mondo, consentendoti di praticare l'inglese quotidianamente
                            e di diventare bilingue più rapidamente.</li>
                        <li>Coinquilinato in un appartamento. Condividi un appartamento per studenti con uno o più compagni di classe. Questa formula è ideale se preferisci essere circondato da persone e rappresenta anche un ottimo modo per fare amicizia.</li>
                        <li>Appartamento individuale. Sarai alloggiato da solo in un appartamento del campus. La migliore alternativa per avere la tua indipendenza.</li>
                    </ol>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Condizioni</h1>
            </div>
            <div>
                <p>
                    Si soddisfate tutti i requisiti di ammissione di seguito elencati, allora siete idonei al programma Community College!
                </p>
                <div>
                    <ul>
                        <li>Aver conseguito il diploma di maturità.</li>
                        <li>Avere un buon rendimento scolastico e un comportamento adeguato in classe, oltre a un buon livello di inglese (tutte le lezioni e gli esercizi sono in inglese).</li>
                        <li>Non avere, negli ultimi tre anni scolastici, una media annuale inferiore al 10/20 in inglese. Durante la fase di intervista, saranno effettuati test di inglese per valutare il vostro livello.</li>
                        <li>Avere il desiderio di scoprire un nuovo paese e la sua cultura. Essere motivati ed entusiasti all'idea di partire lontano da casa per vivere una nuova avventura da soli.</li>
                        <li>Godere di buona salute e avere un libretto delle vaccinazioni aggiornato. Accettare di essere vaccinati contro l'epatite A e B.</li>
                        <li>Altri criteri potrebbero essere aggiunti a seconda dei Community College scelti.</li>
                    </ul>
                    <p>Se non soddisfate al 100% tutti i criteri, non esitate a contattarci per trovare insieme opzioni o programmi adatti a voi.</p>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__sei">
        <div>
            <p><strong>Le tariffe includono:</strong></p>
            <ul>
                <li>Intervista individuale.</li>
                <li>Ricerca e selezione di un Community College in base al vostro budget e alla destinazione desiderata.</li>
                <li>Procedimenti amministrativi presso il Community College scelto.</li>
                <li>Assistenza e consulenza durante la preparazione della domanda di ammissione.</li>
                <li>Assistenza per il formulario I-20 per ottenere il visto F-1.</li>
                <li>Assistenza nella compilazione del modulo del visto.</li>
                <li>Riunione informativa per i candidati e i genitori prima della partenza.</li>
                <li>Contatti regolari con un corrispondente locale.</li>
                <li>Assistenza e supporto per tutta la durata del programma Authentic Student.</li>
                <li>Un numero di emergenza disponibile 24 ore su 24, 7 giorni su 7.</li>
            </ul>
            <p><strong>Il totale delle tariffe non include:</strong></p>
            <ul>
                <li>Le spese legate all'ottenimento del visto.</li>
                <li>Tasca (uscite/escursioni, materiale scolastico, trasporti, ecc.).</li>
                <li>Spese legate all'ottenimento del TOEFL.</li>
                <li>Biglietto aereo.</li>
                <li>Spese di traduzione dei certificati scolastici italiani da parte di un traduttore autorizzato.</li>
                <li>Assicurazione medica internazionale.</li>
            </ul>
        </div>
    </div>
    <div class="image__fondo">
        <h1 class="h1__medium" style="color: white;">Iscriviti adesso ai nostri programmi</h1>
        <h1 class="h1__medium" style="color: white;"> per il Community college</h1>
        <div class="see__more__big" routerLink="/iscrizione">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff00" height="54" viewBox="0 -960 960 960" width="54"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
            <h2 style="color: white;">Iscriviti adesso</h2>
        </div>
    </div>
</div>