<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Authenticstudent</title>
    <base href="/ripetizioni">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="container__esterno__generale">
    <div class="sezione__due">
        <div class="flexi__dreski">
            <div class="sezione__due__desc">
                <div class="sezione__due__desc__img">
                    <div class="sezione__due__desc__img__uno"></div>
                    <div class="sezione__due__desc__img__due"></div>
                    <div class="sezione__due__desc__img__tre"></div>
                </div>
                <h1 class="h1__little">Ripetizione di inglese per cominciare al meglio</h1>
                <p>Iniziare con una forte competenza in inglese facilita le prime interazioni e favorisce un avvio di successo nel percorso di apprendimento. Offriamo un servizio di tutoraggio dedicato per assicurare un apprendimento efficace e un inizio
                    ottimale del viaggio negli Stati Uniti.</p>
                <div style="margin-top: 40px;" class="desk__vista">
                    <h4 (click)="link__3()" style="cursor: pointer;">authenticstudent.it@gmail.com</h4>
                    <h4>cellulare: +39 3333854818</h4>
                </div>
            </div>
            <div class="sezione__due__card">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfcj65R0uRb-Bp8Hy46uDw1QFZm7ZlnGxQnPkxxj3SE-zqx-Q/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
            </div>
            <div style="margin-top: 40px;" class="phone__vista">
                <h4 (click)="link__3()" style="cursor: pointer;">authenticstudent.it@gmail.com</h4>
                <h4>cellulare: +39 3333854818</h4>
            </div>
        </div>
    </div>
</div>

</html>