.sezione__due__desc__img {
    margin: -200px 0 0 -200px;
    position: absolute;
    z-index: -1;
    display: flex;
}

.sezione__due__desc__img__uno {
    height: 500px;
    width: 500px;
    border-radius: 500px;
}

.sezione__due__desc__img__due {
    height: 500px;
    width: 500px;
}

.sezione__due__desc__img__tre {
    height: 1000px;
    width: 1000px;
    border-radius: 1000px;
    background: url("../../../assets/immagini/eliott-reyna-jCEpN62oWL4-unsplash.jpg"), rgb(255, 255, 255) 90% / cover no-repeat;
    background-position: center;
    background-size: cover;
}

.sezione__due {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;
}

.sezione__due__desc {
    width: 600px;
}

.sezione__due__desc p {
    width: 500px;
}

.sezione__due__card {
    position: sticky;
    z-index: 100;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 30px 60px 30px 60px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
}

.form-section {
    margin: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #08466E;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #08466E;
}

.see__more {
    height: 50px;
    width: 50px;
    background-color: #ffffff00;
    border-radius: 50px;
    border: 3px solid #b319427c;
    cursor: pointer;
}

.see__more svg {
    margin-top: 4px;
    margin-left: 4px;
    position: absolute;
    z-index: 1;
}

.see__more:hover {
    background-color: #b31942;
    border: 3px solid #b31942;
}

.see__more:hover h4 {
    padding-left: 70px;
}

.see__more h4 {
    position: sticky;
    z-index: 99;
    width: 4cm;
    padding-left: 15px;
    margin: 15px 15px 15px 0;
}

.flexi__dreski {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone__vista {
    display: none;
}

.desk__vista {
    display: block;
}

@media screen and (max-width:1200px) {
    .flexi__dreski {
        display: block;
    }
    .phone__vista {
        display: block;
    }
    .desk__vista {
        display: none;
    }
    .sezione__due__card {
        margin: 30px 0 30px 0;
    }
    .sezione__due__desc__img__uno {
        height: 200px;
        width: 200px;
    }
    .sezione__due__desc__img__due {
        height: 200px;
        width: 200px;
    }
    .sezione__due__desc__img__tre {
        height: 1000px;
        width: 1000px;
        border-radius: 1000px;
        opacity: .3;
    }
    .sezione__due {
        margin-top: 00px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
        margin-bottom: 00px;
    }
}

@media screen and (max-width: 800px) {
    .sezione__due {
        height: 110vh;
    }
    .sezione__due__desc__img__uno {
        height: 50px;
        width: 50px;
    }
    .sezione__due__desc__img__due {
        height: 50px;
        width: 50px;
    }
    .sezione__due__desc__img__tre {
        opacity: .2;
    }
    .sezione__due__desc {
        width: 300px;
    }
    .sezione__due__desc p {
        width: 300px;
    }
    .sezione__due__card {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        padding: 10px 20px 10px 20px;
        width: 300px;
        border-radius: 20px;
    }
    .form-section {
        margin: 10px 0 10px 0;
    }
}