<div class="container__esterno__generale">
    <div class="sezione__due">
        <div class="sezione__due__desc">
            <div class="sezione__due__desc__img">
                <div class="sezione__due__desc__img__uno"></div>
                <div class="sezione__due__desc__img__due"></div>
                <div class="sezione__due__desc__img__tre"></div>
            </div>
            <h1 class="h1__little">Ripetizione di inglese per cominciare al meglio</h1>
            <p>Iniziare con una forte competenza in inglese facilita le prime interazioni e favorisce un avvio di successo nel percorso di apprendimento. Offriamo un servizio di tutoraggio dedicato per assicurare un apprendimento efficace e un inizio ottimale
                del viaggio negli Stati Uniti.</p>
            <div style="margin-top: 40px;">
                <h4 (click)="link__3()" style="cursor: pointer;">authenticstudent.it@gmail.com</h4>
                <h4>cellulare: +39 3333854818</h4>
            </div>
        </div>
        <div class="sezione__due__card">
            <form action="#" method="post">
                <div style="display:flex; width:100%">
                    <div class="form-section">
                        <input type="text" id="section1" name="section1" placeholder="Nome">
                    </div>

                    <div class="form-section">
                        <input type="text" id="section2" name="section2" placeholder="Email">
                    </div>
                </div>
                <div class="form-section">
                    <input type="text" id="section3" name="section3" placeholder="Numero di telefono">
                </div>

                <div class="form-section">
                    <textarea type="text" id="section4" name="section4" placeholder="Dicci il tuo livello di inglese"></textarea>
                </div>

                <div class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Richiedi ripetizioni</h4>
                </div>
            </form>
        </div>
    </div>
</div>