<div class="container__esterno__generale">
    <div id="sezione__uno">
        <div></div>
        <h1 class="h1__medium" style="color: #ffffff !important;">Università</h1>
    </div>
    <div id="sezione__container">
        <div id="sezione__due" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__due__title"></h1>
                    <h1 id="sezione__due__title__pre">Il nostro programma universitario </h1>
                </div>
                <div>
                    <p>
                        Se hai sempre sognato di continuare i tuoi studi negli Stati Uniti, vivere un'immersione totale in un'altra cultura e sviluppare la tua padronanza della lingua americana, il nostro programma per l'università americana è fatto per te. Che tu voglia studiare
                        a Miami, Los Angeles, New York o altrove, ti aiutiamo a scegliere l'università ideale in base al tuo curriculum scolastico e alla tua disciplina preferita.
                    </p>
                    <p>Il nostro programma ti accompagna in ogni fase, dall'esame del TOEFL alla ricerca dell'università adatta a te, passando per le pratiche amministrative come:</p>
                    <ul>
                        <li>L'invio del curriculum scolastico.</li>
                        <li>Richiesta del visto F1 e l'ottenimento del modulo I-20.</li>
                        <li>Ti aiutiamo a trovare un traduttore autorizzato per tradurre i tuoi certificati scolastici.</li>
                        <li>Spiegazioni sul sistema scolastico americano, in particolare per quanto riguarda i crediti, i semestri, gli esami e gli advisor.</li>
                    </ul>

                    <p>
                        Authentic Student è determinata a offrirti un servizio personalizzato e di qualità per aiutarti a realizzare il tuo sogno di studiare in un'università americana di prestigio.
                    </p>
                </div>
            </div>
        </div>
        <div id="sezione__tre" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__tre__title__pre">Le nostre università</h1>
                </div>
                <div>
                    <p>
                        Offriamo una vasta gamma di destinazioni in tutti gli Stati Uniti, tra cui:
                    </p>
                    <p>In <strong>California, Florida, New York, Alabama, Illinois, Louisiana, New Jersey, Texas e South Carolina</strong>, solo per citarne alcune tra le più popolari. Ogni stato offre una ricchezza culturale e storica unica, oltre a università
                        di fama mondiale come l'<strong>UCLA, l'Università di Miami, Yale, l'Università della California e Stanford.</strong></p>
                    <p>Il nostro obiettivo è trovare il compromesso perfetto tra l'università che si adatterà meglio al tuo progetto di studi e lo Stato ideale per te. Siamo qui per aiutarti a navigare in questa scelta complessa, tenendo conto delle tue
                        preferenze e delle tue esigenze specifiche, al fine di aiutarti a realizzare il tuo sogno di studiare negli Stati Uniti.</p>
                    <img src="../../../assets/immagini/Students_Walking_2340x1560_2.jpg">

                </div>
            </div>
        </div>
        <div id="sezione__quattro" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__quattro__title__pre">I punti di forza del nostro programma </h1>
                </div>
                <div>
                    <p>
                        Continuare gli studi negli Stati Uniti offre numerosi vantaggi considerevoli. Incoraggiamo vivamente tutti gli studenti a cogliere questa opportunità che consentirà loro di progredire notevolmente nell'inglese, scoprire una nuova cultura, guadagnare autonomia
                        e comprendere il sistema scolastico americano. Inoltre, questa esperienza arricchisce significativamente il proprio curriculum distinguendosi sul mercato del lavoro, acquisendo nuove competenze e cogliendo l'opportunità di svolgere
                        uno stage professionale correlato agli studi. Authentic Student è convinta che, perseguire gli studi negli Stati Uniti, sia un'esperienza unica e arricchente per gli studenti che desiderano svilupparsi su fronti accademici, personali
                        e professionali.
                    </p>
                    <p>
                        I vantaggi di questo programma:
                    </p>
                    <ul>
                        <li>Scegliere di partire per un intero anno scolastico, ovvero 10 mesi (da agosto/settembre a giugno) O solo un semestre (da 4 a 5 mesi).</li>
                        <li>Scegliere le lezioni che corrispondono al tuo campo di interesse tra una vasta gamma di discipline offerte da ciascun'università, come finanza, ospitalità, immobiliare, medicina e giornalismo...</li>
                        <li>Partecipare alla vita studentesca integrandoti in un campus e scegliere se vivere in un appartamento privato o condiviso. Iscriversi ai club in base ai tuoi hobby: sport, finanza, arte, musica…</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__cinque">
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Corsi</h1>
            </div>
            <div>
                <p>
                    Il sistema didattico negli Stati Uniti è abbastanza diverso da quello in Italia e offre diversi vantaggi:
                </p>
                <div>
                    <p>Come studente italiano negli Stati Uniti, è obbligatorio prendere almeno 12 crediti per semestre, con un massimo di 22 crediti (con costi aggiuntivi per ogni credito supplementare). Gli studenti organizzano il loro programma come desiderano,
                        scegliendo gli orari dei corsi.</p>
                    <p>I professori sono vicini agli studenti e sono molto attenti, privilegiando i lavori di gruppo e le presentazioni orali.</p>
                    <p>Formazione completamente americana: sarai integrato nelle stesse università degli studenti americani e parteciperai alle stesse lezioni.</p>
                    <p>Possibilità di entrare in questo programma subito dopo aver ottenuto il diploma di maturità italiano, ma anche dopo anni di studi superiori (con la possibilità di trasferire i crediti italiani negli Stati Uniti).</p>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Alloggio</h1>
            </div>
            <div>
                <p>
                    Scegliendo il programma "Università Americana", alloggerai direttamente nel campus dell'università. Diverse opzioni si aprono a te:
                </p>
                <div>
                    <ul>
                        <li>Condivisione di un dormitorio con altri studenti. Questa opzione facilita l'integrazione, mettendoti in contatto con persone provenienti da diverse parti del mondo, consentendoti di praticare l'inglese quotidianamente e di diventare
                            bilingue più rapidamente.</li>
                        <li>Coinquilino in un appartamento. Condividi un appartamento per studenti con uno o più compagni di classe. Questa formula è ideale se preferisci essere circondato da persone e rappresenta anche un ottimo modo per fare amicizia.</li>
                        <li>Appartamento individuale. Alloggiare da solo in un appartamento del campus. La migliore alternativa per avere la tua indipendenza.</li>
                    </ul>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Condizioni</h1>
            </div>
            <div>
                <p>
                    Se soddisfate tutti i requisiti di ammissione di seguito elencati, allora siete idonei al programma dell'università americana!
                </p>
                <div>
                    <ul>
                        <li>Avere conseguito il diploma di maturità italiana.</li>
                        <li>Avere un buon rendimento scolastico e un comportamento corretto in classe.</li>
                        <li>Avere il desiderio di scoprire un nuovo paese e la sua cultura. Essere motivati ed entusiasti all'idea di partire lontano da casa per vivere una nuova avventura da soli.</li>
                        <li>Godere di buona salute e avere un libretto delle vaccinazioni aggiornato. Accettare di essere vaccinati contro l'epatite A e B.</li>
                        <li>Altri criteri potrebbero essere aggiunti a seconda delle università scelte.</li>
                    </ul>
                    <p>Se non soddisfate al 100% tutti i criteri, non esitate a contattarci per trovare insieme opzioni o programmi adatti a voi.</p>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__sei">
        <div>
            <p><strong>Le tariffe includono:</strong></p>
            <ul>
                <li>Intervista Colloquio individuale.</li>
                <li>Ricerca e selezione di un Community College in base al vostro budget e alla destinazione desiderata.</li>
                <li>Procedimenti amministrativi presso il Community College scelto.</li>
                <li>Assistenza e consulenza durante la preparazione della domanda di ammissione.</li>
                <li>Assistenza per il formulario I-20 per ottenere il visto F-1.</li>
                <li>Assistenza nella compilazione del modulo del visto.</li>
                <li>Riunione informativa per i candidati e i genitori prima della partenza.</li>
                <li>Contatti regolari con un corrispondente locale.</li>
                <li>Assistenza e supporto per tutta la durata del programma Authentic Student.</li>
                <li>Un numero di emergenza disponibile 24 ore su 24, 7 giorni su 7.</li>
            </ul>
            <p><strong>Il totale delle tariffe non include:</strong></p>
            <ul>
                <li>Le spese legate all'ottenimento del visto.</li>
                <li>Tasca (uscite/escursioni, materiale scolastico, trasporti, ecc.).</li>
                <li>Spese legate all'ottenimento del TOEFL.</li>
                <li>Biglietto aereo.</li>
                <li>Spese di traduzione dei certificati scolastici italiani da parte di un traduttore autorizzato.</li>
                <li>Assicurazione medica internazionale.</li>
            </ul>
        </div>
    </div>
    <div class="image__fondo">
        <h1 class="h1__medium">Iscriviti adesso ai nostri programmi per l'università</h1>
        <div class="see__more__big" routerLink="/iscrizione">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff00" height="54" viewBox="0 -960 960 960" width="54"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
            <h2>Iscriviti adesso</h2>
        </div>
    </div>
</div>