@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat, italic";
    src: local("Montserrat, italic"), url(./assets/fonts/Montserrat/static/Montserrat-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans-VariableFont_wdth,wght";
    src: local("OpenSans-VariableFont_wdth,wght"), url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    padding: 0 !important;
    top: 0 !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* 
html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
 */

a,
p,
span,
h2,
h3,
h4,
h5,
li,
input,
textarea {
    font-family: "OpenSans-VariableFont_wdth,wght";
}


/* Common styles for small screens and larger screens */

p,
a,
span,
input,
textarea {
    font-size: 1.2rem;
}

h1 {
    font-family: "Montserrat";
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #08466E;
    outline: none;
}

h2,
h3,
h4,
h5 {
    font-weight: 800;
}

@media only screen and (min-resolution: 10dpi) {
    h2,
    h3,
    h4,
    h5 {
        font-weight: 700 !important;
    }
}


/* Common styles for all screen sizes */

* {
    color: #08466E;
    transition-duration: .5s;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-rendering: optimizeLegibility;
}

.logo {
    font-family: "Montserrat";
}


/* Heading styles for different screen sizes */

.h1__large {
    font-size: 5rem;
}

.h1__medium {
    font-size: 4rem;
}

.h1__little {
    font-size: 2rem;
}

.h1__extra {
    font-size: 10rem;
}


/* Button styles for different screen sizes */

.button__red,
.button__red__out {
    cursor: pointer;
}

.button__red {
    padding: 0px 25px 0px 25px;
    background: #B31942;
    color: white;
    border-radius: 40px;
    border: none;
}

.button__red__out {
    margin-left: -6px;
    padding: 4px 4px 4px 4px;
    background: #b3194200;
    border-radius: 40px;
    border: 2px solid #b3194200;
}

.button__red__out:hover {
    border: 2px solid #B31942;
}

.button__red h2,
.button__red h3,
.button__red h4 {
    color: #ffffff !important;
}


/* Responsive adjustments for smaller screens */

@media only screen and (max-width: 1200px) {
    /* Adjustments for smaller screens can be added here */
    .h1__large {
        font-size: 3.2rem;
    }
    .h1__medium {
        font-size: 2.3rem;
        font-weight: 700 !important;
    }
    .h1__little {
        font-size: 1.2rem;
        font-weight: 700 !important;
    }
    .h1__extra {
        font-size: 8rem;
    }
    .button__red {
        padding: 0px 20px 0px 20px;
    }
}

@media only screen and (max-width: 900px) {
    p,
    a,
    span,
    input,
    textarea {
        font-size: 1rem;
    }
    h2,
    h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }
    h4 {
        font-size: 1rem;
        font-weight: 500;
    }
    h5 {
        font-size: .8rem;
        font-weight: 500;
    }
}