<div class="container__esterno__generale">
    <div id="sezione__uno">
        <div></div>
        <h1 class="h1__medium" style="color: #ffffff !important;">Master / Magistrale</h1>
    </div>
    <div id="sezione__container">
        <div id="sezione__due" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__due__title"></h1>
                    <h1 id="sezione__due__title__pre">Il nostro programma Master</h1>
                </div>
                <div>
                    <p>
                        Se hai sempre sognato di ottenere un Master negli Stati Uniti, di immergerti in un'altra cultura e di sviluppare il tuo inglese in modo professionale, allora il nostro programma di Master americano è fatto per te. Accogliamo studenti in possesso di una
                        laurea o di un Bachelor pronti a vivere una nuova avventura e a continuare il loro percorso universitario negli Stati Uniti.
                    </p>
                    <p>Il nostro programma di Master americano è progettato per offrire un'esperienza di studi superiori personalizzata in base al tuo curriculum. Ti permettiamo di scegliere il Master ideale in continuità con la tua laurea o il tuo Bachelor.
                        Offriamo una varietà di opzioni di specializzazione in modo che tu possa scegliere quella che meglio si adatta ai tuoi interessi e obiettivi di carriera.</p>
                    <p>Che tu scelga di continuare il tuo Master in un'università a Chicago, New York o in California, beneficerai di un'immersione totale nella cultura americana e di un'opportunità unica per sviluppare la tua rete professionale. Da Authentic
                        Student, siamo orgogliosi di offrire un'esperienza di Master americano di qualità superiore per aiutarti a realizzare le tue aspirazioni universitarie.</p>
                    <p>Il nostro programma ti accompagna sin dall'esame del TOEFL, dalla ricerca dell'università e dalle procedure amministrative:</p>
                    <ul>
                        <li>Invio del tuo curriculum scolastico.</li>
                        <li>Richiesta del visto F1 e ottenimento del modulo I-20.</li>
                        <li>Assistenza nella ricerca di un traduttore autorizzato per tradurre i tuoi certificati scolastici.</li>
                        <li>Supporto per la valutazione del diploma già ottenuto e per il trasferimento di crediti.</li>
                        <li>Assistenza dettagliata del sistema scolastico americano (crediti, semestri, esami, tutor...) e molto altro.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="sezione__tre" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__tre__title__pre">Le nostre università</h1>
                </div>
                <div>
                    <p>
                        Offriamo una varietà di destinazioni in tutto gli Stati Uniti, compresi stati come:
                    </p>
                    <p><strong>California, Florida, New York, Alabama, Illinois, Louisiana, New Jersey, Texas e Carolina del Sud</strong>, solo per citarne alcune tra le più popolari. Ogni stato ha le sue ricchezze, la sua cultura e la sua storia, distinguendosi
                        per le sue università di fama mondiale come UCLA, University of Miami, Yale, University of California, Stanford, e molte altre.</p>
                    <p>Il nostro obiettivo principale è trovare il giusto equilibrio tra il tuo diploma italiano e il master che desideri completare negli Stati Uniti. Lavoriamo a stretto contatto con i gli studenti per individuare il programma universitario
                        più adatto, che soddisferà le loro esigenze e consentirà di realizzare le loro aspirazioni accademiche e professionali. Authentic Student è orgogliosia di offrire un'esperienza di studio superiore negli Stati Uniti, con particolare
                        attenzione al successo e alla soddisfazione dei nostri studenti.</p>
                    <img src="../../../assets/immagini/schwarzmann-student-center-ramsa-yale-university-architecture_dezeen_2364_col_10.webp">

                </div>
            </div>
        </div>
        <div id="sezione__quattro" class="sezione__architettura">
            <div class="sezione__architettura__interna">
                <div>
                    <h1 id="sezione__quattro__title__pre">I vantaggi del nostro programma</h1>
                </div>
                <div>
                    <p>
                        Ottenere un Master negli Stati Uniti comporta numerosi vantaggi. Consigliamo vivamente a tutti gli studenti che ne hanno la possibilità di intraprendere questa avventura che non solo consente di migliorare notevolmente il proprio livello di inglese professionale,
                        ma offre anche l'opportunità di scoprire una nuova cultura e acquisire maggiore autonomia, adattandosi al sistema educativo americano.
                    </p>
                    <p>
                        Inoltre, perseguire un Master negli Stati Uniti arricchisce significativamente il curriculum vitae degli studenti, consentendo loro di distinguersi nel mercato del lavoro e di acquisire nuove competenze preziose per la loro futura carriera. L’opportunità
                        di svolgere uno stage professionale in linea con il proprio campo di studio offre un'esperienza pratica inestimabile, insieme a una rete professionale e preziosi riferimenti.
                    </p>
                    <p>
                        I vantaggi di questo programma:
                    </p>
                    <ul>
                        <li>Scegli di trascorrere un intero anno scolastico, ovvero 10 mesi (da agosto/settembre a giugno), o solo un semestre scolastico (da 4 a 5 mesi).</li>
                        <li>Scegli le tue classi in base al tuo campo di interesse. Ogni Master offre una vasta scelta di specializzazioni, dalla finanza all'ospitalità, immobiliare, giornalismo...</li>
                        <li>Partecipa alla vita studentesca integrandoti in un campus e scegliendo di vivere in un appartamento privato o in condivisione. Iscriviti a club in base ai tuoi hobby: sport, finanza, arte, musica...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__cinque">
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Corsi</h1>
            </div>
            <div>
                <p>
                    Il sistema di corsi per il Master negli Stati Uniti è abbastanza differente rispetto all’Italia e presenta diversi vantaggi:
                </p>
                <div>
                    <ul>
                        <li>Come studente italiano negli Stati Uniti, è obbligatorio prendere un minimo 12 crediti per semestre, con un massimo di 22 crediti. Lo studente organizza il proprio orario come desidera, scegliendo gli orari dei corsi. In questo
                            modo, può dedicare il suo tempo libero a attività extrascolastiche (club: sport, teatro, musica...).</li>
                        <li>I professori sono vicini agli studenti e sono molto attenti; favoriscono il lavoro di gruppo e le presentazioni orali.</li>
                        <li>L'educazione completamente americana: sarai integrato nelle stesse università degli studenti americani e parteciperai alle stesse lezioni.</li>
                        <li>Puoi unirti a questo programma subito dopo aver ottenuto la tua laurea triennale o il Bachelor (minimo BAC+3).</li>
                    </ul>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Alloggio</h1>
            </div>
            <div>
                <p>
                    Scegliendo il programma "Master Americano", sarai alloggiato direttamente nel campus dell'università. Ti sono offerte diverse opzioni:
                </p>
                <div>
                    <ol>
                        <li>Condividi un dormitorio con altri studenti. Questa opzione facilita l'integrazione, mettendoti in contatto con stranieri e permettendoti di praticare l'inglese quotidianamente, accelerando così il processo di diventare bilingue.</li>
                        <li>Coinquilino in un appartamento. Condividi un appartamento per studenti con uno o più compagni di classe. Questa formula è ideale se preferisci essere circondato da persone e rappresenta anche un ottimo modo per fare amicizia.</li>
                        <li>Appartamento individuale. Alloggiare da solo in un appartamento del campus. La migliore alternativa per avere la tua indipendenza.</li>
                    </ol>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
        <div class="sezione__cinque__contianer__interno">
            <div>
                <h1 id="sezione__cinque__title__pre">Condizioni</h1>
            </div>
            <div>
                <p>
                    Se soddisfate tutte le condizioni di ammissione di seguito, allora siete idonei al programma di Master americano!
                </p>
                <div>
                    <p>Aver conseguito la laurea triennale o il Bachelor (BAC+3). Avere un buon rendimento scolastico e un comportamento corretto in classe + un buon livello di inglese (tutte le lezioni e i compiti sono al 100% in inglese). Durante la fase
                        di colloquio, saranno effettuati test di inglese per valutare il vostro livello. Avere il desiderio di scoprire un nuovo paese e la sua cultura. Essere motivati ed entusiasti all'idea di partire lontano da casa per vivere una nuova
                        avventura da soli. Essere in buona salute e avere un certificato di vaccinazione aggiornato. Accettare di essere vaccinati contro l'epatite A e B. Altri criteri potrebbero essere aggiunti in base ai Master scelti. Se non soddisfate
                        al 100% i criteri, non esitate a contattarci per trovare insieme opzioni o programmi adatti a voi.</p>
                </div>
                <div *ngIf="isElementVisible" class="see__more">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="42" viewBox="0 -960 960 960" width="42"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    <h4>Mostra dettagli</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__sei">
        <div>
            <p><strong>Le tariffe includono:</strong></p>
            <ul>
                <li>Intervista Colloquio individuale.</li>
                <li>Ricerca e selezione di un Community College in base al vostro budget e alla destinazione desiderata.</li>
                <li>Procedimenti amministrativi presso il Community College scelto.</li>
                <li>Assistenza e consulenza durante la preparazione della domanda di ammissione.</li>
                <li>Assistenza per il formulario I-20 per ottenere il visto F-1.</li>
                <li>Assistenza nella compilazione del modulo del visto.</li>
                <li>Riunione informativa per i candidati e i genitori prima della partenza.</li>
                <li>Contatti regolari con un corrispondente locale.</li>
                <li>Assistenza e supporto per tutta la durata del programma Authentic Student.</li>
                <li>Un numero di emergenza disponibile 24 ore su 24, 7 giorni su 7.</li>
            </ul>
            <p><strong>Il totale delle tariffe non include:</strong></p>
            <ul>
                <li>Le spese legate all'ottenimento del visto.</li>
                <li>Tasca (uscite/escursioni, materiale scolastico, trasporti, ecc.).</li>
                <li>Spese legate all'ottenimento del TOEFL.</li>
                <li>Biglietto aereo.</li>
                <li>Spese di traduzione dei certificati scolastici italiani da parte di un traduttore autorizzato.</li>
                <li>Assicurazione medica internazionale.</li>
            </ul>
        </div>
    </div>
    <div class="image__fondo">
        <h1 class="h1__medium">Iscriviti adesso ai nostri programmi per il Master</h1>
        <div class="see__more__big" routerLink="/iscrizione">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff00" height="54" viewBox="0 -960 960 960" width="54"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
            <h2>Iscriviti adesso</h2>
        </div>
    </div>
</div>