.container__esterno__generale {
    display: block !important;
}

.sezione__uno {
    display: flex;
    padding-left: 200px;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #ffffff 1%, #ffffff73 99%), url('../../../assets/immagini/Students_Walking_2340x1560_2Copia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sezione__uno h2 {
    width: 600px;
}

img {
    width: 100%;
    display: block;
}

.sezione__due__container__inside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sezione__due__container__inside div {
    width: 500px;
    margin: 20px;
}

.sezione__due__container__inside svg {
    margin: -60px 0 0 -100px;
    position: absolute;
    z-index: 0;
}

.sezione__due__container__inside div:last-of-type {
    margin-top: -100px;
}

.sezione__due__container__inside p {
    z-index: 2;
    position: sticky;
}

.title__sezioni {
    position: fixed;
    z-index: -1;
    margin: 300px 300px 0 200px;
    width: 400px;
    color: #08456e1e;
}

@media only screen and (max-width:1400px) {
    .sezione__uno {
        padding-left: 100px;
    }
}

@media only screen and (max-width:1200px) {
    .sezione__uno h2 {
        width: 400px;
    }
    .sezione__due__container__inside {
        height: 80vh;
    }
}

@media only screen and (max-width: 800px) {
    .sezione__due__container__inside {
        display: block;
        height: fit-content;
    }
    .sezione__due__container__inside div {
        width: fit-content;
        margin: 20px;
    }
    .sezione__due__container__inside svg {
        display: none;
    }
    .sezione__due__container__inside div:last-of-type {
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .title__sezioni {
        margin: 300px 100px 0 50px;
    }
}

.su__test__phone {
    display: none;
}

.su__test__desk {
    display: block;
}

@media only screen and (max-width: 800px) {
    .sezione__uno h2 {
        width: 300px;
    }
    .sezione__uno {
        padding-left: 20px;
    }
    .su__test__phone {
        display: block;
    }
    .su__test__desk {
        display: none;
    }
}