<div class="container__esterno__generale" style="display: none;">
    <h1 class="h1__extra title__sezioni" id="title__sezioni"></h1>
    <div class="sezione__uno">
        <div>
            <h1 class="h1__large">Testimonianze</h1>
            <h2 style="color: #B31942;">di persone che hanno riposto la propria fiducia in noi e che continuano a farlo.</h2>
        </div>
    </div>
    <div id="sezione__container">
        <div id="sezione__due">
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1644350071583.jpg">
                    <h1>
                        Adele, Mid-Carolina High School, SC
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Mi chiamo Adele, sono una studentessa italiana che ha il privilegio, da ora da tre mesi, di frequentare una scuola superiore americana come studentessa di scambio in Carolina del Sud per un anno. Fin dall'inizio, la mia famiglia ospitante ha davvero illuminato
                        la mia permanenza. La loro cordialità e generosità mi hanno resa non solo una studentessa, ma anche un membro a tutti gli effetti della loro famiglia. I momenti trascorsi a scoprire la vera cultura americana con loro, sia intorno
                        al tavolo della cena, durante le uscite in famiglia o partecipando a tradizioni locali, rimarranno impressi nella mia memoria. La mia esperienza alla Mid-Carolina High School è stata altrettanto arricchente, offrendomi una prospettiva
                        completa e diversificata sulla vita nell'ultimo anno delle superiori negli Stati Uniti. Questi primi mesi sono stati un'avventura indimenticabile, plasmando la mia visione del mondo e permettendomi di diventare bilingue in inglese.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/istockphoto-503117826-612x612.jpg">
                    <h1>
                        Alex, Roosevelt High School, Seattle
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Dal mio arrivo a Seattle due mesi fa grazie ad Authentic Student, ogni giorno è un'avventura emozionante. La mia famiglia ospitante americana mi ha immediatamente integrato nella loro vita, rendendo questa transizione molto più facile. La scuola superiore
                        locale mi ha offerto opportunità di apprendimento uniche, e mi sono adattato rapidamente alla vita scolastica americana. Anche se sto ancora cercando di abituarmi a questa nuova cultura, ogni momento è un'opportunità per imparare
                        e crescere. Authentic Student è stato un sostegno prezioso in questo periodo, assicurandosi che la mia transizione avvenga senza intoppi. La mia esperienza a Seattle è ancora fresca, ma sono già meravigliato dalle possibilità che
                        si aprono davanti a me, specialmente diventando bilingue in inglese.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/depositphotos_300052842-stock-photo-girl-is-looking-at-los.jpg">
                    <h1>
                        Marianna da Los Angeles High School
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Immerso nel mio secondo anno di liceo a Los Angeles con Authentic Student, sono qui da tre mesi. In questo periodo, l'integrazione nella scuola superiore americana e la mia vita quotidiana con la famiglia ospitante americana sono state esperienze ricche
                        di scoperte. Questi tre mesi rappresentano un capitolo importante del mio percorso educativo e personale, e sono grato per il continuo supporto di Authentic Student, che ha facilitato ogni aspetto del mio soggiorno finora.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1688175634495.jpg">
                    <h1>
                        Giada dalla Southwest Miami High School
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        La mia esperienza come studentessa francese all'ultimo anno a Miami, presso la Southwest Miami High School grazie ad Authentic Student, è stata eccezionale. Vivere con una famiglia ospitante americana ha reso la mia immersione culturale ancora più arricchente.
                        Le lezioni dinamiche e la partecipazione attiva degli studenti all'interno della scuola hanno potenziato le mie competenze accademiche e la mia fiducia in me stessa diventando bilingue in 3 mesi. La diversità culturale della scuola
                        ha ampliato i miei orizzonti, e le attività extracurriculari mi hanno offerto opportunità uniche di sviluppo personale. Sono grata ad Authentic Student per questa esperienza che rimarrà impressa nella mia memoria.
                    </p>
                </div>
            </div>
        </div>
        <div id="sezione__tre">
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/Linkedin2.jpg">
                    <h1>
                        Sofia da UCLA, Los Angeles
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Mi chiamo Sophie, e desidero condividere la mia esperienza trasformativa all'UCLA a Los Angeles, dove ho studiato business (consulenza) per un semestre di scambio, reso possibile grazie ad Authentic Student. Il mio periodo all'UCLA è stato molto più di
                        un'immersione accademica. I corsi di consulenza mi hanno offerto una prospettiva pratica e concreta del mondo degli affari, con progetti reali e professori appassionati. Il campus dinamico e diversificato ha arricchito i miei scambi
                        culturali, rafforzando le mie competenze interpersonali. Authentic Student ha reso questo viaggio senza intoppi, dalla domanda di ammissione all'adattamento alla vita sul campus. Questa esperienza ha forgiato amicizie internazionali
                        ed espanso i miei orizzonti, plasmando il mio futuro professionale in modo inestimabile. Raccomando vivamente questa opportunità a tutti gli studenti ambiziosi.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/istockphoto-1332653761-612x612.jpg">
                    <h1>
                        Riccardo dalla Georgia Tech, Atlanta
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Raccomando l'esperienza americana a tutti. Dopo 4 anni di studi in ingegneria presso l'Università di Georgia Tech ad Atlanta, ho trovato un lavoro nel campo della consulenza per grandi aziende a Chicago. Il mio percorso non è stato sempre facile, ma con
                        il sostegno dei miei cari e dell'organizzazione, sono riuscito a vivere pienamente l'esperienza. Non mi pento affatto di aver preso questa decisione! si aprono davanti a me, specialmente diventando bilingue in inglese.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1668977623824.jpg">
                    <h1>
                        Giacomo dall'Università di Southwestern Oklahoma State, Weatherford
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Ho trascorso un anno come matricola presso l'Università di Southwestern Oklahoma State. È stata un'esperienza straordinaria e indimenticabile, molto ricca di incontri, sia con gli americani che con gli altri studenti internazionali provenienti da tutto
                        il mondo con i quali ho trascorso momenti molto piacevoli! Mi ha permesso di diventare bilingue in inglese, di arricchire le mie conoscenze e di avere un punto di vista diverso rispetto all'università in Francia.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1663711989776.jpg">
                    <h1>
                        Raffaele da North Park University, Chicago
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Arrivando a Chicago per la mia università, sono stato immediatamente travolto dall'energia e dalla diversità della città. Come studente in un'università americana, ho potuto incontrare persone provenienti da tutto il mondo, permettendomi di immergermi
                        in una cultura accademica dinamica che non conoscevo.

                    </p>
                    <p>Alla fine della mia permanenza a Chicago, ero in grado di parlare fluentemente l'inglese e avevo acquisito una nuova prospettiva sulla vita negli Stati Uniti. Sono orgoglioso del mio percorso accademico e dell'esperienza unica che
                        ho vissuto in questa città ventosa.</p>
                </div>
            </div>
        </div>
        <div id="sezione__quattro">
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1669522923789.jpg">
                    <h1>
                        Arianna da University of Chicago
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Mi chiamo Arianna, e grazie ad Authentic Student, ho potuto realizzare il mio sogno di ottenere un Master in contabilità presso l'Università di Chicago. I consigli saggi di Authentic Student mi hanno guidata lungo tutto il processo, facilitando la mia
                        esperienza accademica all'estero. I corsi stimolanti e l'eccezionale ambiente educativo dell'Università di Chicago sono stati catalizzatori essenziali per il mio sviluppo professionale. Oggi, come professionista presso JPMorgan,
                        sono grata delle opportunità che Samuel mi ha aiutato a cogliere, e raccomando il loro supporto a tutti coloro che aspirano a un'istruzione di qualità all'estero.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1660141613522.jpg">
                    <h1>
                        Giulio da University of Pennsylvania
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Mi chiamo Giulio e sono attualmente uno studente MBA in informatica presso l'Università di Pennysalvia, negli Stati Uniti, grazie ad Authentic Student. In soli quattro mesi, questa esperienza ha superato di gran lunga le mie aspettative. I corsi bilanciano
                        saggiamente teoria e pratica, con docenti esperti nel loro campo. L'atmosfera collaborativa del campus, con studenti provenienti da tutto il mondo, arricchisce ogni corso e favorisce lo sviluppo di competenze interpersonali. Authentic
                        Student ha reso l'intero processo, dall'ammissione all'ottenimento del visto, trasparente e senza intoppi, permettendomi di concentrarmi completamente sui miei studi e sull'esplorazione di questa nuova cultura. Sono convinto che
                        questo MBA aprirà entusiasmanti opportunità nella mia carriera, e raccomando sinceramente Authentic Student a tutti coloro che aspirano a un'esperienza di studio negli Stati Uniti.
                    </p>
                </div>
            </div>
            <div class="sezione__due__container__inside">
                <div>
                    <img src="../../../assets/immagini/profili/1689361998376.jpg">
                    <h1>
                        Anna dall'Università di San Francisco
                    </h1>
                </div>
                <div>
                    <svg fill="#b3194277" xmlns="http://www.w3.org/2000/svg" height="160" viewBox="0 -960 960 960" width="160"><path d="m176-209 103-176q-69-8-112.5-58.5T123-560q0-75 52-126.5T302-738q75 0 126.5 51.5T480-560q0 23.371-5 43.185Q470-497 461-480L305-209H176Zm397 0 102-176q-69-8-112-58.5T520-560q0-75 51.5-126.5T698-738q75 0 127 51.5T877-560q0 23.371-5 43.185Q867-497 858-480L701-209H573ZM302-512q20 0 33.5-14t13.5-34q0-20-13.708-34-13.709-14-33.292-14-20 0-34 14t-14 34q0 20 14 34t34 14Zm396 0q20 0 34-14t14-34q0-20-14-34t-34-14q-20 0-33.5 14T651-560q0 20 13.708 34 13.709 14 33.292 14Zm1-48Zm-397 0Z"/></svg>
                    <p>
                        Mi chiamo Anna e sono studentessa di MBA presso l'University of San Francisco da tre mesi, grazie ad Authentic Student. La mia scelta di specializzarmi in biologia presso questa università si è rivelata un'esperienza eccezionale. Docenti appassionati
                        e strutture all'avanguardia hanno arricchito il mio percorso accademico. Il programma MBA è stimolante, e sono circondata da compagni di classe motivati. Oltre alle lezioni, San Francisco offre una diversità culturale e opportunità
                        uniche. Voglio ringraziare Authentic Student per il supporto fornito lungo tutto il processo. Questa avventura supera le mie aspettative, e non vedo l'ora di scoprire le opportunità che si presenteranno in futuro.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="sezione__cinque" style="height: 20vh;">

    </div>
</div>

<!--         <main class="main page__main">
            <div class="gallery main__gallery">
              <div class="gallery__col">
                <img class="gallery__img" src="../../../assets/immagini/profili/1644350071583.jpg" alt=""/><img class="gallery__img" src="../../../assets/immagini/profili/" alt=""/><img class="gallery__img" src="" alt=""/>
              </div>
              <div class="gallery__col">
                <img class="gallery__img" src="" alt=""/><img class="gallery__img" src="" alt=""/><img class="gallery__img" src="" alt=""/>
              </div>
              <div class="gallery__col">
                <img class="gallery__img" src="" alt=""/><img class="gallery__img" src="" alt=""/><img class="gallery__img" src="" alt=""/>
              </div>
              <div class="gallery__col">
                <img class="gallery__img" src="" alt=""/><img class="gallery__img" src="" alt=""/><img class="gallery__img" src="" alt=""/>
              </div>
            </div>
          </main> -->