.container__esterno__generale {
    display: block !important;
}

.sezione__uno {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sezione__uno__sezione__uno {
    width: 650px;
    margin-right: 10vw;
}

.sezione__uno__sezione__due {
    width: 400px;
}

.sezione__uno__sezione__due__img__uno {
    background: url('../../../assets/immagini/profili/IMG_678355870D1D-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 300px;
    height: 300px;
    width: 300px;
    margin-left: 150px;
}

.sezione__uno__sezione__due__img__due {
    height: 300px;
    width: 300px;
    background: url('../../../assets/immagini/profili/IMG_4359.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 300px;
    margin-top: -80px;
}

.sezione__due {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.sezione__due__card {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 50px 100px 100px 100px;
    padding: 30px 60px 30px 60px;
    width: 500px;
    border-radius: 20px;
}

.sezione__due__card div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sezione__due__card div h1 {
    margin-left: 20px;
}

.see__more__big {
    height: 80px !important;
    width: 80px !important;
    border-radius: 80px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #b3194273;
    cursor: pointer;
}

.see__more__big svg {
    margin-top: 14px;
    margin-left: 14px;
    position: absolute;
    z-index: 1;
}

.see__more__big:hover {
    background-color: #b31942;
    border: 3px solid #b31942;
}

.see__more__big:hover svg {
    fill: #ffffff;
}

.see__more__big:hover h2 {
    padding-left: 90px;
}

.see__more__big h2 {
    position: sticky;
    z-index: 99;
    width: 8cm;
    padding-left: 25px;
    margin: 25px 25px 25px 0;
}