<div class="container__esterno__generale">
    <div class="sezione__uno">
        <div class="sezione__uno__sezione__uno">
            <h1 class="h1__medium">Vogliamo guidare il vostro futuro.</h1>
            <p>Con la nostra esperienza come studenti negli USA e le nostre competenze, vi guideremo nel vostro percorso verso il vostro futuro in america.</p>
            <div (click)="scroll(chisiamo)" class="see__more__big">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff00" height="54" viewBox="0 -960 960 960" width="54"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                <h2>Scopri la nostra storia</h2>
            </div>
        </div>
        <div class="sezione__uno__sezione__due">
            <div (click)="scroll(chisiamo)" class="sezione__uno__sezione__due__img__uno">
                <h2 style="color: #B31942;margin:0">Davide</h2>
                <h2 style="color: #B31942;margin:0">Comai</h2>
            </div>
            <div (click)="scroll(chisiamo)" class="sezione__uno__sezione__due__img__due">
                <h2 style="color: #B31942;margin:0">Matteo</h2>
                <h2 style="color: #B31942;margin:0">Chiti</h2>
            </div>
        </div>
    </div>
    <div class="sezione__due" #chisiamo>
        <div class="sezione__due__card">
            <div>
                <img src="../../../assets/immagini/profili/IMG_678355870D1D-1.jpg">
                <h1>Davide Comai</h1>
            </div>
            <p>Ho deciso di creare Authentic Student insieme a Matteo al fine di fornire una soluzione per gli studenti italiani che hanno sempre sognato di studiare negli Stati Uniti, offrendo un supporto amministrativo completo, trasparente e tutto ad
                un prezzo equo. Avendo io stesso seguito questo percorso, comprendo perfettamente le difficoltà che gli studenti italiani possono incontrare nell'adattarsi a un nuovo paese, a una nuova cultura e a un nuovo sistema universitario. Ho iniziato
                con un anno in famiglia ospitante in Texas, che mi ha permesso di diventare bilingue in inglese e di ottenere il mio diploma di scuola superiore americano. Ho proseguito gli studi universitari in Kansas in un community college e alla fine
                ho deciso di trasferirmi a Chicago per completare il mio diploma in Finance e Real Estate. Purtroppo, sono rimasto deluso dai servizi forniti dalle agenzie di studenti universitari in Italia che ho utilizzato per il mio percorso. Ho notato
                una mancanza di trasparenza nel loro processo amministrativo, nel loro programma, così come una scarsa comprensione del sistema universitario americano, il che ha comportato costi e difficoltà aggiuntive per me lungo tutto il mio percorso.
                Per questo io e Matteo abbiamo creato Authentic Student, utilizzando il nostro dinamismo e la nostra serietà per rispondere alle richieste e ai criteri degli studenti che vogliono partire con totale trasparenza e a un prezzo equo. Il nostro
                obiettivo è fornire un supporto amministrativo completo agli studenti che desiderano intraprendere studi superiori negli Stati Uniti, spiegando loro il sistema universitario americano da A a Z, e offrendo loro l'opportunità di conseguire
                il diploma negli Stati Uniti con un'esperienza positiva e arricchente.</p>
        </div>
        <div class="sezione__due__card">
            <div>
                <img src="../../../assets/immagini/profili/IMG_4359.avif">
                <h1>Matteo Chiti</h1>
            </div>
            <p>
                Insieme a Davide, ho fondato Authentic Student con l'obiettivo di offrire ai giovani un'opportunità educativa straordinaria al di là delle convenzioni. Si tratta di un'esperienza unica, impossibile da comprendere a pieno se non vissuta direttamente, che
                arricchisce culturalmente e si traduce in un bagaglio di conoscenze tangibili. Non si tratta solo di frequentare la scuola, ma di intraprendere un viaggio formativo. La mia decisione di aiutare altri giovani a avviare un simile percorso
                nasce dalla mia personale esperienza. Fin da quando avevo 18 anni, desideravo studiare e vivere negli Stati Uniti, ma la mancanza di informazioni, agenzie competenti, e supporto finanziario rappresentava una sfida significativa. Insieme
                a Davide, ci impegniamo a fornire un completo supporto amministrativo, facilitando il percorso di studenti che desiderano approdare negli USA. Nonostante le inevitabili difficoltà lungo il cammino, la nostra esperienza personale dimostra
                che vale la pena. Dopo un primo anno in Florida, ho ricevuto offerte di borse di studio in tutto il paese, continuando gli studi presso la prestigiosa Missouri State University nell'Illinois. Il trasferimento a Chicago, grazie a una borsa
                di studio, mi ha permesso di incontrare Davide ispirando la creazione di Authentic Student. L'assenza di agenzie di supporto durante i miei anni negli Stati Uniti è stata un incentivo per noi. Con Authentic Student, combiniamo serietà,
                precisione ed esperienza, offrendo un sostegno completo ai giovani che condividono adesso il nostro sogno. Il nostro obiettivo è rendere accessibile a tutti l'opportunità di studiare all'estero, garantendo una partecipazione completa e
                serena dall'inizio alla fine del percorso accademico in base al proprio budget economico di partenza.
            </p>
        </div>
    </div>
</div>